/*fieldset.lang tr td input[type='text']{*/
    /*width:90%;*/
/*}*/
fieldset.lang table tr{
    float:left;
    width:35%;
    height:100px;
    border-bottom:solid 1px #ccc;
    padding-right:1%;
}
fieldset.lang table tr td{
    width:100%;
    display:block;
}
fieldset.lang table tr[class^="form-group tr-selected"]{
    width:20%;
}
fieldset.lang table tr[class^="form-group tr-removeLang"]{
    width:3%;
}

.red{
    border-color: #ebccd1;
    color: #a94442;
    cursor:pointer;
}


form tr.tr-classification-wrapper,
form tr.tr-department-wrapper{
    float:left;
    width:48%;
    margin:1%;
    display:block;
}

form tr.tr-children-wrapper td,
form tr.tr-classification-wrapper td,
form tr.tr-department-wrapper td{
    display:block;
    width:100%;
}

form tr.tr-children-wrapper label,
form tr.tr-classification-wrapper label,
form tr.tr-department-wrapper label{
    display:block;
    float:none;
    clear:both;
    width:100%;
}

form tr.tr-children-wrapper select,
form tr.tr-classification-wrapper select,
form tr.tr-department-wrapper select{
    background-color: #fff;
    background-image: none;
    /*border: 1px solid #ccc;*/
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 100px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

form #filters tr{
    float:left;
    width:50%;
}

form #filters tr ul{
    list-style-type:none;
    margin:0;
    padding:0;
    display: inline;
    float: right;
}

form #filters tr label{
    margin-top:0;
    margin-right:10px;
}

form #filters tr ul li{
    float:left;
    margin-right:10px;
}

form #filters tr.fullW{
    width:100%;
}
.infoBox {
    float: left;
    overflow: auto;
    border: 1px solid #cecdcc;
    list-style-type: none;
    position: relative;
    overflow-y: scroll;
    display: inline;
    background-color: white;
    padding: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 90%;
    margin: 0 10px;
    border-top: none;
    min-height: 10px;
    max-height: 150px;
}