<section ng-controller="subOrderViewDevCtrl">
	<div class="clearfix">
		<a class="f-right" href="#/subOrders">« {{translation.back2List[LANG]}}</a>
	</div>
	
	<div class="form viewSubOrder">
		
		<div class="formHeader"><h3 class="ng-binding">{{translation.viewSubOrder[LANG]}}</h3></div>
		<div ng-if="order">
			
			<div class="actions orderActions" id="" ng-show="order.subOrder.orderInfo.status == 'pending'">
				<input ng-click="processOrder();" ng-confirm-click="{{translation.rUsureProcessOrder[LANG]}}" type="submit" value="{{translation.processOrder[LANG]}}" class="btn btn-sm btn-primary"/>
				<input ng-click="cancelOrder();" ng-confirm-click="{{translation.rUsureRejectOrder[LANG]}}" type="submit" value="{{translation.rejectOrder[LANG]}}" class="btn btn-sm btn-danger"/>
			</div>
			<div class="actions orderActions" ng-show="order.subOrder.orderInfo.status == 'processing'">
				<input ng-click="createLabel();" type="submit" value="{{translation.createLabel[LANG]}}" class="btn btn-sm btn-primary" ng-show="labelNeeded"/>
				
				<input ng-click="fulfilOrder();" type="submit" value="{{translation.fulfil[LANG]}}" class="btn btn-sm btn-primary" ng-hide="labelNeeded"/>
			</div>
			
			<label class="infoSection">{{translation.orderInfo[LANG]}}</label>
			
			<div class="leftShift">
				<table cellspacing="0" cellpadding="0" border="0">
					<tbody>
						<tr>
							<td class="orderLabel"><b>{{translation.dateCreated[LANG]}}:</b></td>
							<td>{{order.ts|prettyLocalDate}}</td>
						</tr>
						<tr>
							<td><b>{{translation.orderNumber[LANG]}}</b>:</td>
							<td>{{order.orderInfo.orderNbr}}</td>
						</tr>
						<tr>
							<td><b>{{translation.status[LANG]}}</b>:</td>
							<td>{{order.orderInfo.status|label}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<br/>
			<label class="infoSection">{{translation.subOrderInfo[LANG]}}</label>
			
			<div class="leftShift">
				<table cellspacing="0" cellpadding="0" border="0">
					<tbody>
						<tr>
							<td class="orderLabel"><b>{{translation.status[LANG]}}</b>:</td>
							<td>{{order.subOrder.orderInfo.status|label}}</td>
							<td ng-show="showEditStatus" style="display: none">
								<select name="subOrderStatus" ng-model="statusValue">
									<option value="pending" ng-selected="order.subOrder.orderInfo.status === 'pending'">
										Pending
									</option>
									<option value="cancelled" ng-selected="order.subOrder.orderInfo.status === 'cancelled'">
										Cancelled
									</option>
									<option value="shipped" ng-selected="order.subOrder.orderInfo.status === 'shipped'">
										Shipped
									</option>
									<option value="delivered" ng-selected="order.subOrder.orderInfo.status === 'delivered'">
										Delivered
									</option>
									<option value="readyForPickup" ng-selected="order.subOrder.orderInfo.status === 'readyForPickup'">
										Ready For Pickup
									</option>
									<option value="picked" ng-selected="order.subOrder.orderInfo.status === 'picked'">
										Picked
									</option>
								</select>
								<input ng-click="saveStatus();" type="submit" value="Save" class="btn btn-sm btn-primary"/>
							
							</td>
							<td ng-show="order.subOrder.orderInfo.status === 'shipped'">
								<div style="display: none;">
									<input ng-click="setDelivered();" type="submit" value="{{translation.setDelivered[LANG]}}" class="btn btn-sm btn-primary"/>
								</div>
							</td>
							<td ng-show="order.subOrder.orderInfo.status === 'readyForPickup'">
								<input ng-click="setPicked();" type="submit" value="{{translation.setPicked[LANG]}}" class="btn btn-sm btn-primary"/>
							</td>
							<td ng-show="order.subOrder.orderInfo.status === 'sentOut'">
								<input ng-click="setDelivered();" type="submit" value="{{translation.setDelivered[LANG]}}" class="btn btn-sm btn-primary"/>
							</td>
						
						</tr>
						<tr ng-hide="order.subOrder.orderInfo.status==='pending' ">
							<td valign="top">
								<b>{{translation.statusHistory[LANG]}}</b>
							</td>
							<td>
								<ul class="statusList">
									<li ng-repeat="stu in order.subOrder.orderInfo.statusHistory">
										{{stu.status|label}} {{translation.on[LANG]}} {{stu.date|prettyLocalDate}}
									</li>
								</ul>
							</td>
						</tr>
						<tr>
							<td><b>{{translation.totalPriceItems[LANG]}}</b>:</td>
							<td>{{order.subOrder.orderInfo.totalPrice.toFixed(2)}}</td>
						</tr>
						
						<tr>
							<td><b>{{translation.totalTax[LANG]}}</b>:</td>
							<td>{{order.subOrder.orderInfo.totalTax.toFixed(2)}}</td>
						</tr>
						<tr>
							<td><b>{{translation.totalShipping[LANG]}}</b>:</td>
							<td>{{order.subOrder.orderInfo.totalShipping}}</td>
						</tr>
						<tr>
							<td><b>{{translation.totalAmount[LANG]}}</b>:</td>
							<td>{{order.subOrder.orderInfo.totalAmount.toFixed(2)}}
								{{order.subOrder.orderInfo.currency}}
							</td>
						</tr>
						
						<tr ng-if="order.subOrder.orderInfo.billUrl">
							<td><b>{{translation.bill[LANG]}}</b>:</td>
							<td>
								<a href="{{order.subOrder.orderInfo.billUrl}}" target="_blank">
									<img height="100" ng-src="{{order.subOrder.orderInfo.billUrl}}">
								</a>
							</td>
						</tr>
					</tbody>
					<tbody ng-if="order.subOrder.postageLabel">
						<tr ng-if="order.subOrder.postageLabel.labelUrl">
							<td>
								<b>{{translation.postageLabel[LANG]}}</b>:
							</td>
							<td>
								<a href="{{order.subOrder.postageLabel.labelUrl}}" target="_blank">
									<img ng-src="{{order.subOrder.postageLabel.labelUrl}}" style="" height="200">
								</a>
							</td>
							<td style="display: none">
								<input type="submit" class="btn btn-sm btn-primary" value="Print" ng-click="printLabel();">
							</td>
						</tr>
						<tr>
							<td>
								<b>{{translation.trackingCode[LANG]}}</b>:
							</td>
							<td>
								{{order.subOrder.postageLabel.trackingCode}}
							</td>
						</tr>
					</tbody>
					<tbody ng-if="order.subOrder.ypLabel">
						<tr>
							<td>
								<b>{{translation.yPLabel[LANG]}}</b>:
							</td>
							<td>
								<a href="{{order.subOrder.ypLabel.barcodeUrl}}" target="_blank">
									<img ng-src="{{order.subOrder.ypLabel.barcodeUrl}}" style="" height="100">
								</a>
							</td>
							<td style="display: none;">
								<input type="submit" class="btn btn-sm btn-primary" value="Print" ng-click="printLabel();">
							</td>
						</tr>
					</tbody>
				</table>

				<div ng-show="order.subOrder.orderInfo.shippingInfo">
					<label>{{translation.shippingInfo[LANG]}}</label>
					
					<div class="leftShift">
						<div ng-bind-html="order.subOrder.orderInfo.shippingInfo|object"></div>
					</div>
				</div>
				<div ng-show="order.subOrder.orderInfo.pickupInfo">
					<label>{{translation.pickupInfo[LANG]}}</label>
					
					<div class="leftShift">
						<div ng-bind-html="order.subOrder.orderInfo.pickupInfo|object"></div>
					</div>
				</div>
			
			</div>
			<br/>
			
			<label class="infoSection">{{translation.userInfo[LANG]}}</label>
			<br/>
			
			<div class="leftShift">
				<table cellspacing="0" cellpadding="0" border="0">
					<tbody>
						<tr>
							<td class="orderLabel"><b>{{translation.nameFull[LANG]}}</b>:</td>
							<td>{{order.userInfo.firstName}} {{order.userInfo.lastName}}</td>
						</tr>
						<tr>
							<td><b>{{translation.email[LANG]}}</b>:</td>
							<td>
								{{order.userInfo.email}}
							</td>
						</tr>
						<tr>
							<td><b>{{translation.language[LANG]}}</b>:</td>
							<td>{{order.language}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<br/>
			<label class="infoSection">{{translation.merchantInfo[LANG]}}</label>
			
			<div class="leftShift">
				<div class="">
					<table cellspacing="0" cellpadding="0" border="0">
						<tbody>
							<tr>
								<td><b>{{translation.merchantName[LANG]}}</b>: {{order.merchantInfo.name}}
									&nbsp; <b>Id</b>: {{order.merchantInfo.merchantId}}
								</td>
							</tr>
							<tr>
								<td><b>{{translation.email[LANG]}}</b>: {{order.merchantInfo.email}}</td>
							</tr>
							<tr>
								<td><b>{{translation.tax[LANG]}}</b>: {{order.merchantInfo.tax}}</td>
							</tr>
							<tr>
								<td><b>{{translation.acquiringMode[LANG]}}</b>:
									{{order.merchantInfo.acquiringMode|label}}
								</td>
							</tr>
							<tr ng-show="order.merchantInfo.paymentMethod.items.customerId">
								<td><b>{{translation.customerId[LANG]}}</b>:
									{{order.merchantInfo.paymentMethod.items.customerId}}
								</td>
							</tr>
							<tr ng-show="order.merchantInfo.paymentMethod.items.authorizationId">
								<td>
									<b>{{translation.authorizationId[LANG]}}</b>:
									{{order.merchantInfo.paymentMethod.items.authorizationId}}
									<span ng-if="order.merchantInfo.paymentMethod.items.captured === true">
										  <b>{{translation.status[LANG]}}:</b> {{translation.captured[LANG]}}
									</span>
								</td>
							</tr>
						</tbody>
					</table>
					<div ng-if="order.merchantInfo.shippingMethod">
						<label>{{translation.shippingMethod[LANG]}}</label>
						
						<div class="leftShift">
							<div class="" ng-show="order.merchantInfo.shippingMethod.delivery === true">
								<b>{{translation.serviceShipping[LANG]}}</b>:
								{{order.merchantInfo.shippingMethod.config.service|intelcomLabel}}<br>
								<b>{{translation.carrier[LANG]}}</b>:
								{{order.merchantInfo.shippingMethod.config.carrier}}
								<div>
									<b>{{translation.deliveryExpectedBy[LANG]}}</b>:
									{{order.merchantInfo.shippingMethod.label}} {{translation.today[LANG]}}
								</div>

							</div>
							<div class="" ng-show="order.merchantInfo.shippingMethod.shipping === true">
								<b>{{translation.carrier[LANG]}}</b>:
								{{order.merchantInfo.shippingMethod.config.carrier}}<br>
								<b>{{translation.label[LANG]}}</b>: {{order.merchantInfo.shippingMethod.label}}<br>
								<b>{{translation.estimatedDeliveryDays[LANG]}}</b>:
								{{order.merchantInfo.shippingMethod.config.est_delivery_days}}<br>
							</div>
							<div>
								<b>{{translation.cost[LANG]}}</b>: {{order.merchantInfo.shippingMethod.cost}}
								{{order.merchantInfo.shippingMethod.currency}}<br>
							</div>
							<div style="display: none;">
								<b>Email</b>: {{order.merchantInfo.shippingMethod.email}}
							</div>
							
							<div ng-show="order.merchantInfo.paymentMethod.shipping.authorizationId">
								<b>{{translation.authorizationId[LANG]}}</b>:
								{{order.merchantInfo.paymentMethod.shipping.authorizationId}}
									<span ng-if="order.merchantInfo.paymentMethod.shipping.captured === true">
										  <b>{{translation.status[LANG]}}:</b> {{translation.captured[LANG]}}
									</span>
							</div>
						
						</div>
					</div>
					
					<div ng-if="order.merchantInfo.pickupOption">
						<label>{{translation.pickupOptions[LANG]}} </label>

						<div class="leftShift">
							<div class="">
								<div><b>{{translation.payOnPickup[LANG]}}</b>:
									{{order.merchantInfo.pickupOption.payOnPickup}}
								</div>
								<div><b>{{translation.storeName[LANG]}}</b>: {{order.merchantInfo.pos.name}}</div>
								<b>{{translation.address[LANG]}}</b>:
								<div class="leftShift">
									{{order.merchantInfo.pos.address.addressLine1}},<br>
									<span ng-if="order.merchantInfo.pos.address.addressLine2">
									{{order.merchantInfo.pos.address.addressLine2}},
									</span>
									{{order.merchantInfo.pos.address.city}},
									{{order.merchantInfo.pos.address.state}},
									{{order.merchantInfo.pos.address.zip}},
									{{order.merchantInfo.pos.address.country}}
								</div>
								<b>{{translation.email[LANG]}}</b>: {{order.merchantInfo.pos.address.email}}<br>
								<b>{{translation.phoneNumber[LANG]}}</b>: {{order.merchantInfo.pos.address.phone}}
							</div>
						</div>
					</div>

				</div>
			</div>
			
			<div ng-hide="order.merchantInfo.acquiringMode === 'pickup'">
				<br>
				<label class="infoSection">{{translation.shippingAddress[LANG]}}</label>
				
				<div class="leftShift">
					<div>
						{{order.shippingInfo.address.firstName}} {{order.shippingInfo.address.lastName}}
					</div>
					<div ng-if="order.shippingInfo.order.shippingInfo.address.companyName"><b>{{translation.companyName[LANG]}}</b>:
						{{order.shippingInfo.address.companyName}}
					</div>
					<div>{{order.shippingInfo.address.addressLine1}}</div>
					<div ng-if="order.shippingInfo.address.addressLine2">
						{{order.shippingInfo.address.addressLine2}}
					</div>
					<div ng-if="order.shippingInfo.address.addressLine3">
						{{order.shippingInfo.address.addressLine3}}
					</div>
					<div>
						{{order.shippingInfo.address.city}}, {{order.shippingInfo.address.state}},
						{{order.shippingInfo.address.zip}}, {{order.shippingInfo.address.country}}
					</div>
					<div>
						<b>{{translation.email[LANG]}}</b>: {{order.shippingInfo.address.email}}<br>

						<div ng-if="order.shippingInfo.address.phoneNumber"><b>{{translation.phoneNumber[LANG]}}</b>:
							{{order.shippingInfo.address.phoneNumber}}
						</div>

					</div>

				</div>
			
			</div>
			
			<div ng-hide="order.merchantInfo.pickupOption.payOnPickup === true">
				<br>
				<label class="infoSection">{{translation.billingInfo[LANG]}}</label>
				
				<div class="leftShift">
					<label>{{translation.billingCreditCard[LANG]}}</label>
					
					<div class="leftShift">
						<div>
							<div class="ng-binding">
								<b>{{translation.nameOnCard[LANG]}}</b>: {{order.billingInfo.cc.name}}<br>
								<b>{{translation.typeCard[LANG]}}</b>: {{order.billingInfo.cc.type}}
								<div>
									<b>{{translation.expirationCC[LANG]}}</b>: {{order.billingInfo.cc.expirationMonth}}
									/
									{{order.billingInfo.cc.expirationYear}}
								</div>
								<b>{{translation.last4digits[LANG]}}</b>: {{order.billingInfo.cc.last4digits}}
							</div>
						
						</div>
					</div>
					
					<label>{{translation.billingAddress[LANG]}}</label>

					<div class="leftShift">
						<div>
							{{order.billingInfo.address.firstName}} {{order.billingInfo.address.lastName}}
						</div>
						<div ng-if="order.billingInfo.address.companyName"><b>{{translation.companyName[LANG]}}</b>:
							{{order.billingInfo.address.companyName}}
						</div>
						<div>{{order.billingInfo.address.addressLine1}}</div>
						<div ng-if="order.billingInfo.address.addressLine2">
							{{order.billingInfo.address.addressLine2}}
						</div>
						<div ng-if="order.billingInfo.address.addressLine3">
							{{order.billingInfo.address.addressLine3}}
						</div>
						<div>
							{{order.billingInfo.address.city}}, {{order.billingInfo.address.state}},
							{{order.billingInfo.address.zip}}, {{order.billingInfo.address.country}}
						</div>
						<div>
							<b>{{translation.email[LANG]}}</b>: {{order.billingInfo.address.email}}<br>

							<div ng-if="order.billingInfo.address.phoneNumber"><b>{{translation.phoneNumber[LANG]}}</b>:
								{{order.billingInfo.address.phoneNumber}}
							</div>

						</div>
					</div>
				</div>
			
			</div>

			<br/>
			<label class="infoSection">{{translation.cartItems[LANG]}}</label>
			
			<div class="leftShift">
				<div>
					<table width="100%">
						<tr ng-repeat="item in order.subOrder.cart" ng-class-odd="'item-odd'" ng-class-even="'item-even'">
							<td class="prodImage-env">
								<div class="prodImage">
									<img ng-src="{{item.imagePath}}">
								</div>
							</td>
							<td>
								<div>
									<b>{{translation.prodctTitle[LANG]}}</b>: {{item.titleObj[item.titleObj.default]}} <br/>
									<b>{{translation.serial[LANG]}}</b>: {{item.serial}} <br/>
									<b>{{translation.merchant[LANG]}}</b>: <b>{{translation.name[LANG]}}</b>:
									{{item.merchantName}} <b>Id</b>:
									{{item.merchantId}} <br/>
									<b>{{translation.productSKU[LANG]}}</b>: {{item.productId}} <br/>
									<b>{{translation.groupId[LANG]}}</b>: {{item.groupId}} <br/>
									<b>GTIN</b>: {{item.gtin}} <br/>
									<b>{{translation.pricePerUnit[LANG]}}</b>: {{item.price}} {{item.currency}} <br/>
									<b>{{translation.quantity[LANG]}}</b>: {{item.quantity}}
									<div ng-if="item.filters">
										<b>{{translation.attributes[LANG]}}</b>:
										<div class="leftShift" ng-bind-html="item.filters|object"></div>
									</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		
		</div>
		
		<br/>
		<br/>
	</div>
</section>