<section ng-controller="editProductModuleProdCtrl">
	<div class="clearfix">
		<a class="f-right" href="#/merchantTenants/merchants/browse/{{merchantId}}">{{translation.backToList[LANG]}}</a>
	</div>
	<span ng-show="processing">{{translation.processing[LANG]}} ... {{progress}}%
		<img ng-src="{{ModuleProdMpLocation}}/directives/loading.gif" alt="{{translation.processing[LANG]}}..." height="32px"/>
	</span>
	<ng-include src="ModuleProdMpLocation+'/directives/form.tmpl'"></ng-include>
</section>