<form>
	<div class="modal-header">
		<h3 class="">{{title}}</h3>
	</div>
	<div class="modal-body">
		<table width="100%" cellspacing="2">
			<tr>
				<td class="cartLabel">{{translation.cartUserInfo[LANG]}}</td>
				<td><b>{{cart.user.fullName}}</b> ({{cart.user.id}})</td>
				<td class="cartLabel">{{translation.dateCreated[LANG]}}</td>
				<td align="right">{{cart.created|prettyLocalDate}}</td>
			</tr>
			<tr valign="top">
				<td class="cartLabel">{{translation.tenant[LANG]}}</td>
				<td><b>{{cart.tenant.code}}</b> ({{cart.tenant.id}})</td>
				<td class="cartLabel">{{translation.dateModified[LANG]}}</td>
				<td align="right">{{cart.modified|prettyLocalDate}}</td>
			</tr>
			<tr>
				<td class="cartLabel">{{translation.grandTotal[LANG]}}</td>
				<td>{{cart.totalPrice}}</td>
			</tr>
		</table>
		<hr/>
		<div ng-if="cart.cartLength" id="cartItems">
			<div ng-if="cart.items && cart.items!==0">
				<div class="oneItem" ng-repeat="item in cart.items" ng-class-odd="'item-odd'" ng-class-even="'item-even'">
					<div class="clearfix">
						<div class="info">
							<div><b class="">{{translation.prodctTitle[LANG]}}:</b> {{item.title.en}}</div>
							<div><b>{{translation.productSerial[LANG]}}:</b> {{item.serial}}</div>
							<div><b>{{translation.merchant[LANG]}}:</b> {{item.source}} {{item.merchantId}}</div>
							<div><b>{{translation.qty[LANG]}}:</b> {{item.quantity}}</div>
							<div><b>Monthly Fee:</b>{{item.monthlyFee}}</div>
							<div><b>{{translation.price[LANG]}}:</b> {{item.price}} {{item.currency}}</div>
							<div><b>Serial:</b>{{item.serial}}</div>
						</div>
						<div class="image">
							<img class="cartImageSmall" ng-src="{{item.imagePath.en[0].url}}" alt=""/>
						</div>
					</div>
					<div ng-if="item.productConfiguration" class="productConfiguration">
						<div><span class="heading">{{translation.productConfiguration[LANG]}}:</span></div>
						<div ng-repeat="(productConfigurationKey, productConfiguration) in item.productConfiguration" ng-class-odd="'config-odd'" ng-class-even="'configeven'">
							<span class="title">{{productConfigurationKey}}</span> : {{productConfiguration}}
						</div>
					</div>

					<div ng-if="item.fulfillment" class="fulfillmentRules">
						<div ng-if="item.fulfillment.content" class="">
							<div>
								<span class="heading">Fulfilment content</span>
							</div>
							<div ng-repeat="(fulKey, fulfillmentRules) in item.fulfillment.content" ng-class-odd="'config-odd'" ng-class-even="'config-even'">
								<div>
									<span class="title">{{fulKey}}:</span>
									<span ng-if="fulKey!=='businessAddress'"  > {{fulfillmentRules|json}}
                                        <!--  {{( isArray(fulfillmentRules) ?  (fulfillmentRules.join(', ')) :    fulfillmentRules|json )}}-->
									</span>
									<div ng-if="fulKey==='businessAddress'" style="margin-left: 15px" ng-bind-html="fulfillmentRules|object"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div ng-if="cart.bundles && cart.bundles.length !== 0">
				<h2>Bundles</h2>
				<!-- List all Bundles -->
				<div class="oneItem" ng-repeat="bundle in cart.bundles" ng-class-odd="'item-odd'" ng-class-even="'item-even'">

					<!-- Bundle Data -->
					<div class="clearfix">
						<div class="info">
							<div><b class="">{{translation.prodctTitle[LANG]}}:</b> {{bundle.title.en}}</div>
							<div><b>{{translation.productSerial[LANG]}}:</b> {{bundle.serial}}</div>

							<div>{{translation.qty[LANG]}}: {{bundle.quantity}}</div>
							<div>{{translation.price[LANG]}}: {{bundle.price}} {{bundle.currency}}</div>
							<div>{{translation.productCount[LANG]}}: {{bundle.products.length}}</div>
						</div>
						<div class="image">
							<img class="cartImageSmall" ng-src="{{bundle.imagePath.en.url}}" alt=""/>
						</div>
					</div>

					<!-- List all products in selected Bundle -->
					<div class="bundleProducts">
						<div class="oneItem" ng-repeat="prod in bundle.products" ng-class-odd="'item-odd'" ng-class-even="'item-even'">

							<div class="clearfix">
								<div class="info">
									<div><b class="">{{translation.prodctTitle[LANG]}}:</b> {{prod.title.en}}</div>
									<div><b>{{translation.productSerial[LANG]}}:</b> {{prod.serial}}</div>
									<div>{{translation.merchant[LANG]}}: {{prod.source}} {{prod.merchantId}}</div>
									<div>{{translation.qty[LANG]}}: {{prod.quantity}}</div>
									<div>{{translation.price[LANG]}}: {{prod.price}} {{prod.currency}}</div>
								</div>
								<div class="image">
									<img class="cartImageSmall" ng-src="{{prod.imagePath.en[0].url}}" alt=""/>
								</div>
							</div>
							<div ng-if="prod.productConfiguration" class="productConfiguration">
								<div><span class="heading">{{translation.productConfiguration[LANG]}}:</span></div>
								<div ng-repeat="(productConfigurationKey, productConfiguration) in prod.productConfiguration" ng-class-odd="'config-odd'" ng-class-even="'configeven'">
									<span class="title">{{productConfigurationKey}}</span> : {{productConfiguration}}
								</div>
							</div>

							<div ng-if="prod.fulfillment" class="fulfillmentRules">
								<div ng-if="prod.fulfillment.content" class="">
									<div>
										<span class="heading">Fulfilment content</span>
									</div>
									<div ng-repeat="(fulKey, fulfillmentRules) in prod.fulfillment.content" ng-class-odd="'config-odd'" ng-class-even="'config-even'">
										<div>
											<span class="title">{{fulKey}}:</span>
											<span ng-bind-html="fulfillmentRules|object">{{fulfillmentRules}}</span>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div><!--bundle products -->
				</div><!-- Bundles -->

			</div>
		</div>
		<!-- cart -->
	
	</div><!-- body -->
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="cancel()">OK</button>
	</div>
</form>