.categoriesList {
    height: 250px;
    overflow: scroll;
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px;
}

.categoriesList.ng-valid {
    border: 1px solid green;
}

.listBlocksView {
    list-style-type: none;
    padding: 0;
}

.listBlocksView li {
    float: left;
    width: 45%;
    padding: 10px;
    overflow: auto;
    border: 1px solid #cecdcc;
    border-radius: 5px;
    display: inline;
    list-style-type: none;
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;
    height: 100px;

}

.listBlocksView li:hover {
    border: solid 1px #337ab7;
    overflow-y: scroll;
}

.infoBox {
    float: left;
    overflow: auto;
    border: 1px solid #cecdcc;
    list-style-type: none;
    position: relative;
    overflow-y: scroll;
    display: inline;
    background-color: white;
    padding: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 90%;
    margin: 0 10px;
    border-top: none;
    min-height: 10px;
    max-height: 100px;
}

.categListing {
    border-bottom: solid 1px #ccc;
    margin-bottom: 5px;
    padding-bottom: 2px;
}