<script type="text/ng-template" id="infoBox.html">
	<div class="modal-header">
		<h3 class="modal-title">{{title}}</h3>
	</div>
	<div class="modal-body">
		<h4>{{translation.information[LANG]}}:</h4>
		<table width="100%">
			<tr class="ng-scope">
				<td valign="top" width="30%"><b>{{translation.driver[LANG]}}:</b></td>
				<td>{{data.driver}}</td>
			</tr>
			<tr class="ng-scope">
				<td><b>{{translation.label[LANG]}}:</b></td>
				<td>{{data.label}}</td>
			</tr>
			<tr class="ng-scope">
				<td><b>{{translation.active[LANG]}}:</b></td>
				<td>{{(data.active)?translation.yes[LANG]:translation.no[LANG]}}</td>
			</tr>
			<tr>
				<td><br/></td>
			</tr>
			<tr class="ng-scope">
				<td valign="top" class="view" colspan="2">
					<h4>{{translation.configuration[LANG]}}:</h4>
					<table width="100%">
						<tr ng-repeat="(confCode, confInfo) in data.config track by confCode" ng-class-odd="'odd'">
							<td valign="top" width="30%"><b>{{confCode|translateFields}}</b>&nbsp;</td>
							<td ng-bind-html="confInfo|object" class="breakAll"></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
	</div>
</script>

<section ng-controller="paymentMethodsModuleDevCtrl">
	<input ng-if="access.add && !noAdd" class="btn btn-primary" ng-click="addEntry()" value="{{translation.addPaymentMethod[LANG]}}"/><br/><br/>
	<nglist></nglist>
</section>