<script type="text/ng-template" id="infoBox.html">
	<div class="modal-header">
		<h3 class="modal-title">{{title}}</h3>
	</div>
	<div class="modal-body">
		<table width="100%">
			<tr class="ng-scope">
				<td valign="top" class="view" colspan="2">
					<table width="100%">
						<tr ng-repeat="(confCode, confInfo) in data track by confCode" ng-class-odd="'odd'">
							<td valign="top" width="30%" style="padding-bottom : 5px; padding-top : 5px;"><b>{{confCode}}</b>&nbsp;
							</td>
							<td ng-bind-html="confInfo|object" style="word-break: break-all;"></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
	</div>
</script>
<script type="text/ng-template" id="infoBoxPromoCode.html">
	<div class="modal-header">
		<h3 class="modal-title">{{title}}</h3>
	</div>
	<div class="modal-body">
		<table width="100%">
			<tr class="ng-scope">
				<td valign="top" class="view" colspan="2">
					<table width="100%">
						<tr class="ng-scope">
							<td valign="top" width="30%"><b>{{translation.codeValue[LANG]}}:</b></td>
							<td>{{data.codeValue}}</td>
						</tr>
						<tr class="ng-scope">
							<td><b>{{translation.promotionType[LANG]}}:</b></td>
							<td>{{data.promotionType}}</td>
						</tr>
						<tr class="ng-scope">
							<td><b>{{translation.usageTimesLimit[LANG]}}:</b></td>
							<td>{{data.usageTimesLimit}}</td>
						</tr>
						<tr class="ng-scope">
							<td><b>{{translation.startDate[LANG]}}:</b></td>
							<td>{{data.timebox.startDate|prettyLocalDate}}</td>
						</tr>
						<tr class="ng-scope">
							<td><b>{{translation.endDate[LANG]}}:</b></td>
							<td>{{data.timebox.endDate|prettyLocalDate}}</td>
						</tr>
						<tr class="ng-scope" ng-if="!angular.equals({}, data.details)">
							<td valign="top"><b>{{translation.details[LANG]}}:</b></td>
							<td>
								<span ng-if="data.details.amount">
									<b>{{translation.amountDiscounted[LANG]}}</b>:&nbsp;{{data.details.amount}}
									<br/>
								</span>
								<span ng-if="data.details.currency">
									<b>{{translation.currency[LANG]}}</b>:&nbsp;{{data.details.currency}}
									<br/>
								</span>
								<span ng-if="data.details.percentageOff">
									<b>{{translation.percentageOff[LANG]}}</b>:&nbsp;{{data.details.percentageOff}}
									<br/>
								</span>
								<span ng-if="data.details.service">
									<b>{{translation.service[LANG]}}</b>:&nbsp;{{data.details.service}}
									<br/>
								</span>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
	</div>
</script>
<script type="text/ng-template" id="infoBoxDriver.html">
	<div class="modal-header">
		<h3 class="modal-title">{{title}}</h3>
	</div>
	<div class="modal-body">
		<h4>{{translation.information[LANG]}}:</h4>
		<table width="100%">
			<tr class="ng-scope">
				<td valign="top" width="30%"><b>{{translation.driver[LANG]}}:</b></td>
				<td>{{data.driver}}</td>
			</tr>
			<tr class="ng-scope">
				<td><b>{{translation.label[LANG]}}:</b></td>
				<td>{{data.label}}</td>
			</tr>
			<tr class="ng-scope">
				<td><b>{{translation.active[LANG]}}:</b></td>
				<td>{{(data.active)? translation.yes[LANG] : translation.no[LANG]}}</td>
			</tr>
			<tr class="ng-scope">
				<td><b>{{translation.custom[LANG]}}:</b></td>
				<td>{{(data.custom)? translation.yes[LANG] : translation.no[LANG]}}</td>
			</tr>
			<tr>
				<td><br/></td>
			</tr>
			<tr class="ng-scope">
				<td valign="top" class="view" colspan="2">
					<h4>{{translation.configuration[LANG]}}:</h4>
					<table width="100%">
						<tr ng-repeat="(confCode, confInfo) in data.config track by confCode" ng-class-odd="'odd'">
							<td valign="top" width="30%" style="padding-bottom : 5px; padding-top : 5px;">
								<b>{{confCode}}</b>&nbsp;
							</td>
							<td style="word-break: break-all;">
								<div ng-if="angular.isArray(confInfo)">
									<div ng-repeat="cnf in confInfo" ng-bind-html="cnf|object" ng-class-odd="'odd-row'" ng-class-even="'even-row'" ng-class="{'last-row':$last}"></div>
								</div>
								<div ng-if="!angular.isArray(confInfo)" ng-bind-html="confInfo|object"></div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
	</div>
</script>

<section>
	<a class="f-right" href="#/merchantTenants/merchants">&laquo; {{translation.backToMerchantsManagement[LANG]}}</a>

	<div ng-controller="merchantConfigModuleDevCtrl">
		<div>{{translation.viewDetailsForMerchant[LANG]}}: {{myMerchant.name}}</div>
		<br/><br/>

		<tabset>
			<tab heading="{{translation.posManagement[LANG]}}" ng-if="true" ng-init="isActive = isActiveTab('posManagement', 0)" active="isActive" select="setActiveTab('posManagement')">
				<br/>

				<div ng-controller="posModuleDevCtrl" ng-if="isActive">
					<input ng-if="access.owner.pos.add || access.tenant.pos.add" class="btn btn-primary" ng-click="addPos()" value="{{translation.addPosWarehouse[LANG]}}"/><br/><br/>
					<nglist></nglist>
				</div>
			</tab>
			<tab style="display: none" heading="{{translation.promoCodes[LANG]}}" ng-if="access.tenant.promoCodes.list" ng-init="isActive = isActiveTab('promoCodes', 2)" active="isActive" select="setActiveTab('promoCodes')">
				<br/>
				<div ng-controller="promoCodesModuleDevCtrl" ng-if="isActive">
					<div class="f-right">
						<a class="btn btn-primary" ng-click="listCodes()">
							{{translation.refreshListing[LANG]}}</a>
					</div>
					<input ng-if="access.tenant.promoCodes.add" class="btn btn-primary" ng-click="addPromo()" value="{{translation.addPromoCode[LANG]}}"/><br/><br/>
					<nglist></nglist>
				</div>
			</tab>
			<tab style="display: none" heading="{{translation.payment[LANG]}}" ng-if="true" ng-init="isActive = isActiveTab('payment', 5)" active="isActive" select="setActiveTab('payment')">
				<br/>

				<div id="payment" ng-controller="merchantPaymentMethodsModuleDevCtrl" ng-if="isActive">
					<input ng-if="!noAdd" class="btn btn-primary" ng-click="addEntry()" value="{{translation.addPaymentMethod[LANG]}}"/><br/><br/>
					<nglist></nglist>
				</div>
			</tab>
			<tab heading="{{translation.billing[LANG]}}" ng-click="populateBillingForm();" ng-if="true" ng-init="isActive = isActiveTab('billing', 6); (isActive)? billingForm() : null;" active="isActive" select="setActiveTab('billing')">
				<br/>

				<div id="billing"></div>
			</tab>
			<tab heading="{{translation.feedConfiguration[LANG]}}" ng-click="populateFeedForm();" ng-if="true" ng-init="isActive = isActiveTab('feedConfiguration', 7); (isActive)? feedForm() : null;" active="isActive" select="setActiveTab('feedConfiguration')">
				<br/>

				<div id="feed"></div>
			</tab>
		</tabset>
	</div>
</section>