.noLabel {
    font-weight: normal;
}

fieldset.exception tr td input[type='text'],
fieldset.operation tr td input[type='text'],
fieldset.cc tr td input[type='text'],
fieldset.cc tr td select,
fieldset.merchants tr td input[type='text'] {
    width: 90%;
}

fieldset.exception tr td input[type='textarea'],
fieldset.operation tr td input[type='textarea'],
fieldset.merchants tr td input[type='textarea'] {
    width: 90%;
}

fieldset.exception table tr,
fieldset.merchants table tr {
    float: left;
    width: 31%;
    height: 100px;
    border-bottom: solid 1px #ccc;
    padding-right: 1%;
}

fieldset.cc table tr {
    float: left;
    width: 20%;
    height: 100px;
    padding-right: 1%;
}

fieldset.cc table tr[class^="form-group tr-month-wrapper"],
fieldset.cc table tr[class^="form-group tr-year-wrapper"],
fieldset.cc table tr[class^="form-group tr-cvv-wrapper"] {
    float: left;
    width: 13%;
    height: 100px;
    padding-right: 1%;
}

fieldset.cc table tr td {
    width: 100%;
    display: block;
}

fieldset.otherEmail table tr {
    float: left;
    width: 96%;
    padding-right: 1%;
    margin-bottom: 6px;
}

.tr-addEmail-wrapper .typeHtml {

}

fieldset.operation table tr {
    float: left;
    width: 100%;
    height: 65px;
    padding-right: 1%;
}

form tr.myClass label {
    margin-top: 5px;
}

#intervals-wrapper fieldset.merchants table tr {
    height: 120px;
}

fieldset.upi table tr {
    float: left;
    width: 25%;
}

fieldset.variation table tr td {
    float: left;
    width: 20%;
    margin: 10px;
}

fieldset.exception table tr {
    width: 32%;
}

fieldset.exception table tr td,
fieldset.operation table tr td,
fieldset.otherEmail table tr td,
fieldset.merchants table tr td {
    width: 100%;
    display: block;
}

fieldset.merchants table tr[class^="form-group tr-removeInterval"] {
    width: 3%;
}

fieldset.otherEmail table tr[class^="form-group tr-removeEmail"] {
    width: 3%;
    margin-top: 22px;
    height: 43px;
}

fieldset.exception table tr[class^="form-group tr-removeException"] {
    width: 3%;
    margin-top: 22px;
    height: 78px;
}

fieldset.operation table tr[class^="form-group tr-monday"],
fieldset.operation table tr[class^="form-group tr-tuesday"],
fieldset.operation table tr[class^="form-group tr-wednesday"],
fieldset.operation table tr[class^="form-group tr-thursday"],
fieldset.operation table tr[class^="form-group tr-friday"],
fieldset.operation table tr[class^="form-group tr-saturday"],
fieldset.operation table tr[class^="form-group tr-sunday"] {
    width: 100%;
    float: left;
    border-bottom: solid 1px #ccc;
}

.red {
    border-color: #ebccd1;
    color: #a94442;
    cursor: pointer;
}

.btn-hideaddMore {
    display: none;
}

#media .img {
    float: left;
    width: 10%;
    height: 100px;
    overflow: hidden;
}

#media .imgTag {
    float: left;
    width: 90%;
    height: 100px;
    display: flex;
}

#media .resourcesUrls {
    float: left;
    width: 100%;
    height: 40px;
    display: flex;
}

.imgAltTag {
    width: 23%;
}

.imgUrl {
    flex: 1;
}

#media input[type='url'] {
    float: left;
    width: 97%;
}

#media input[type = "string"] {
    float: left;
    width: 97%;
}

.imgSort {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
}

.rightIcon {
    float: left;
    width: 3%;
    text-align: center;
    margin-top: 7px;
}

.listBlocks {
    list-style-type: none;
    padding: 0;
}

.listBlocks li {
    float: left;
    width: 23%;
    padding: 10px;
    overflow: auto;
    border: 1px solid #cecdcc;
    border-radius: 5px;
    display: inline;
    list-style-type: none;
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;
    height: 100px;

}

.listBlocks li:hover {
    background: #def1f7;
    cursor: pointer;
    border: solid 1px #337ab7;
    overflow-y: scroll;
}

.listBlocksView {
    list-style-type: none;
    padding: 0;
}

.listBlocksView li {
    float: left;
    width: 45%;
    padding: 10px;
    overflow: auto;
    border: 1px solid #cecdcc;
    border-radius: 5px;
    display: inline;
    list-style-type: none;
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;
    max-height: 100px;
}

.listBlocksView li:hover {
    border: solid 1px #337ab7;
    overflow-y: scroll;
}

.blockView {
    float: left;
    width: 45%;
    padding: 10px;
    overflow: auto;
    border: 1px solid #cecdcc;
    border-radius: 5px;
    display: inline;
    list-style-type: none;
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;
    max-height: 100px;
    min-height: 10px;
}

.blockView:hover {
    border: solid 1px #337ab7;
    overflow-y: scroll;
}

.infoBox {
    float: left;
    overflow: auto;
    border: 1px solid #cecdcc;
    list-style-type: none;
    position: relative;
    overflow-y: scroll;
    display: inline;
    background-color: white;
    padding: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 90%;
    margin: 0 10px;
    border-top: none;
    min-height: 10px;
    max-height: 100px;
}

.tr-data-wrapper input,
#data-wrapper input {
    width: 200px;
    margin-right: 20px;
}

.grid .column-upc {
    width: 105px;
}

.grid .column-price {
    width: 55px;
}

.margin-5 {
    margin: 9px 0 5px 5px;
}

.grid .column-brand {
    white-space: nowrap;
}

#variation table tr td {
    padding: 5px;
}

.ta-editor.ta-html, .ta-scroll-window.form-control,
.ta-scroll-window > .ta-bind {
    min-height: 100px;
}

#stock-product {
    display: table;
    width: 100%;
}

#stock-product .nav-pills {
    float: left;
    width: 30%;
}

#productForm .tr-pos-wrapper .nav-tabs,
#productForm .tr-pos-wrapper .nav-pills {
    float: left;
    width: 20%;
}

#stock-product .tab-content {
    background: white none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    float: left;
    left: -3px;
    padding: 10px;
    position: relative;
    top: -1px;
    width: 70%;
}

#productForm .tr-pos-wrapper .tab-content {
    background: white none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    float: left;
    left: -3px;
    padding: 10px;
    position: relative;
    top: -1px;
    width: 80%;
}

.file-f-left {
    float: left;
    left: 155px;
    position: relative;
}

.btn-m {
    margin: auto;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

#days-wrapper ul {
    list-style: none;
}

.myClass {
    width: 33% !important;
    float: left !important;
    height: 85px !important;
    border-bottom: solid 1px #ccc !important;
    padding-right: 1% !important;
}

form tr.tr-treats-wrapper ul li {
    float: left;
    width: 45%;
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
    display: inline;
    list-style-type: none;
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;
    height: 37px;
    border: solid 1px #337ab7;
    background: #def1f7;
}

.header-msg {
    font-weight: bold;
}

.tr-long-wrapper {
    float: left;
    margin-right: 10px;
    width: 470px;
}

.tr-lat-wrapper {
    float: right;
    width: 470px;
    clear: right;
}

.tr-lat-wrapper td, .tr-long-wrapper td {
    width: 470px;
}

.grid td {
    vertical-align: top;
}

.grid td.column-attributes {

}

.productsMList {
    height: 250px;
    overflow: scroll;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.productsMList .rows {
    margin: 3px 0;
    padding: 3px;
}

.productsMList .even {
    background-color: #f8f8f8;
}

.bundlesMList {
    height: 250px;
    overflow: scroll;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.bundlesMList .rows {
    margin: 3px 0;
    padding: 3px;
}

.bundlesMList .even {
    background-color: #f8f8f8;
}

.even-row, .odd-row {
    margin-bottom: 12px;
}

.last-row {
    margin-bottom: 0;
}

#services-wrapper textarea {
    min-height: 300px;
}

.categoriesList {
    border: 1px solid red;
    border-radius: 5px;
    height: 300px;
    overflow: scroll;
    padding: 5px;
}

.sigLinks a {
    font-weight: bold;
}

.offLink {
    color: #333;
    cursor: default;
}

.w25 {
    width: 25%;
}

.dbBox .dbBox-white {
    background-color: white;
    margin-left: 10px;
}

fieldset.customRate table tr td {
    width: 90%;
    display: inline-table;
}

fieldset.customRate .form-group {
    margin-bottom: 5px;
}

form fieldset.customRate tr label {
    margin-top: 5px;
}

fieldset.customRate table tr[class^="form-group tr-flatRate"] {
    width: 33%;
    float: left;
}

fieldset.customRate table tr[class^="form-group tr-cost"] {
    width: 33%;
    float: left;
}

fieldset.customRate table tr[class^="form-group tr-currency"] {
    width: 33%;
    float: left;
}

fieldset.customRate table tr[class^="form-group tr-priceRangeMin"] {
    width: 33%;
    float: left;
    clear: left;
}

fieldset.customRate table tr[class^="form-group tr-priceRangeMax"] {
    width: 33%;
    float: left;
}

fieldset.customRate table tr[class^="form-group tr-service"] {
    width: 85%;
    float: left;
}

fieldset.customRate table tr[class^="form-group tr-remove"] {
    width: 10%;
    float: right;
    text-align: right;
}

form ul.none-bullet-wrapper {
    list-style-type: none;
    padding: 0;
}

form ul.none-bullet-wrapper li {
    padding-bottom: 5px;
}

form ul.none-bullet-wrapper li:last-child {
    padding-bottom: 0px;
}

form ul.none-bullet-wrapper li label {

}

.twoColumnsWrapper {
    float: left;
    width: 45%;
    padding-right: 10px;
}

.commission .form-control {
    width: 60%;
    display: inline;
}

.tr-commission-wrapper {
    margin-top: 10px;
}

.tr-fees-wrapper .form-control {
    width: auto;
    display: inline;
    margin-right: 15px;
}

.tr-fees-wrapper ul {
    padding-left: 10px;
}

.tr-fees-wrapper .onetime-div {
    padding-left: 10px;
}

.tr-fees-wrapper .shortInput {
    width: 70px;
}

.tr-fees-wrapper .mediumInput {
    width: 150px;
}

.tr-fees-wrapper .labelsWidth {
    width: 100%;
}

.conditions {
    padding-bottom: 5px;
}

.ruleLabel {
    font-weight: bold;
    text-decoration: underline;
    margin-top: 8px;
}

.right-legend {
    float: right;
}

.tr-fees-wrapper .button {
    text-decoration: underline;
}

#salesChannels-wrapper {
    width: 100%;
}

.tr-salesChannels-wrapper ul,
.tr-accountType-wrapper ul {
    list-style-type: none;
}

.tr-salesChannels-wrapper ul li,
.tr-accountType-wrapper ul li {
    float: left;
    width: 180px;
}

.floatList {
    list-style-type: none;
    padding: 0;
}

.floatList li {
    float: left;
    width: 340px;
}

.tr-two-products-wrapper ul {
    padding: 0;
}

.tr-two-products-wrapper ul li div {
    width: 40%;
    float: left;
    margin-right: 20px;
}

.tr-two-products-wrapper ul li div.red {
    width: 8%;
    float: left;
    padding-top: 50px;
}

.productConf li {
    list-style-type: circle;
    padding-left: 5px;
}

.productConf li label {
    width: 30px;
}

.productConf li input {
    margin-left: 15px;
    width: 70%;
}

.productConfType input {
    margin-left: 54px;
    width: 50%;
}

.wrapColumns {
    padding-left: 15px;
}

.wrapColumns label {
    margin-top: 3px;
}

.wrapColumns .twoColumnsWrapper {
    width: 35%;
}

form tr.tr-segmentation-wrapper li label {
    margin-top: 0px;
}

form tr.tr-segmentation-wrapper ul {
    margin-bottom: 0px;
    margin-top: 5px;
    padding-left: 15px;
}

.subContents {
}

.subContents label {
    margin-top: 6px;
    margin-bottom: 3px;
}

.product-data-wrapper {
    padding-top: 5px;
}

.product-data-wrapper li a {
    font-weight: bold;
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
}

.tr-scrolls-wrapper #serviceArea .scrollableSplitAnchor1 .blueListing li.blueLi {
    height: 28px;
}

.tr-scrolls-wrapper #serviceArea .scrollableSplitAnchor1 .blueListing li.blueLi label {
    padding-right: 5px;
}

.tr-scrolls-wrapper .blueListing li.blueLi {
    float: left;
    width: auto;
    margin-right: 10px;
    padding: 3px;
}

.tr-scrolls-wrapper .blueListing li.blueLi label {
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: normal;
}

.tr-scrolls-wrapper .blueListing li.blueLi input {
    margin-top: 0;
}

.tr-scrolls-wrapper .blueListing {
    margin: 0;
    padding-left: 0px;
}

.tr-scrolls-wrapper .scrollable {
    padding: 5px;
    overflow: scroll;
    max-height: 200px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #efefef;
}

.tr-scrolls-wrapper .scrollableSplit {
    padding: 5px;
    overflow: scroll;
    max-height: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #efefef;
    float: left;
    display: inline;
    height: 150px;
    margin-bottom: 10px;
}

.tr-scrolls-wrapper .scrollableSplitAnchor1 {
    width: 30%;
}

.tr-scrolls-wrapper .scrollableSplitAnchor2 {
    width: 70%;
}

.segmentation-search {
    float: right;
    width: 250px;
    margin-bottom: 5px;
    text-align: right;
}

.segmentation-search .form-control {
    width: 220px;
    display: inline;
}

.segmentation-wrapper {
    margin-bottom: 10px;
}

.segmentation-wrapper2 {
    clear: both;
    float: none;
    display: block;
    margin-bottom: 10px;
}

.segmentation-viewp-wrapper li {
    float: left;
    list-style-type: none;
    width: 150px;
}

.productDropDown {
    float: left;
    display: inline;
    padding-right: 10px;
}

.productDropDown .combo {
    width: 800px;
}

.productDropDown .red {
    padding-top: 48px;
}

.bundleData {
    float: left;
    display: inline;
    padding-right: 10px;
}

.bundleData .longInput {
    width: 800px;
}

.bundleData .shortInput {
    width: 100px;
}

#removeBundleBut {
    width: 8%;
    float: left;
    padding-top: 48px;
}

.none-padding-left {
    padding-left: 0px;
}

#addContentInput #codeValues-wrapper,
#addContentInput #filter-wrapper,
#addContentInput #sorting-wrapper,
#addContentInput #sortDirection-wrapper {
    display: none;
}

.tr-productConfiguration label {
    margin-top: 6px;
}

.tr-productConfiguration li {
    float: left;
    width: 48%;
    margin-right: 15px;
}

.tr-productConfiguration select.form-control {
    display: inline;
    width: 90%;
}

.valuesList tr {
    float: left;
    width: 20%;
    margin-bottom: 0px;
}

.valuesList tr td {
    display: block;
    width: 95%;
}

.valuesList tr[class^="form-group tr-removeValues"] {
    width: 10px;
}

.valuesList tr[class^="form-group tr-removeValues"] td {
    text-align: right;
    padding-top: 45px;
}

.valuesList tr[class^="form-group tr-valuesValue"] {
    width: 25%;
}

.valuesList tr[class^="form-group tr-valuesLabel"] {
    width: 35%;
}

#addValues {
    width: 110px;
}

.valuesList .red {
    color: #a94442;
    cursor: pointer;
}

#addContentInput #tr-values-wrapper {
    display: none;
}

.addFieldsList tr {
    float: left;
    width: 20%;
    margin-bottom: 0px;
}

.addFieldsList tr td {
    display: block;
    width: 95%;
}

.addFieldsList tr[class^="form-group tr-editAddField"] {
    width: 20px;
}

.addFieldsList tr[class^="form-group tr-editAddField"] td {
    text-align: right;
    padding-top: 45px;
}

.addFieldsList tr[class^="form-group tr-removeAddField"] {
    width: 20px;
}

.addFieldsList tr[class^="form-group tr-removeAddField"] td {
    text-align: right;
    padding-top: 45px;
}

.addFieldsList tr[class^="form-group tr-addName"] {
    width: 75%;
}

.addFieldsList .red {
    color: #a94442;
    cursor: pointer;
}

#addAdditionalFields {
    width: 110px;
}

.valuesList tr.tr-addValues-wrapper {
    float: none;
    width: 100%;
}

.bundleDates ul {
    padding-left: 0;
}

.bundleDates li {
    float: left;
    width: 45%;
    margin-right: 5%;
}

#saleDiscountModal .categoriesList {
    border-color: inherit;
}

.fieldMsgOk {
    clear: both;
    color: #999;
    font-size: 12px;
    font-style: italic;
    width: 100%;
}

.fieldMsgBad {
    clear: both;
    color: #FF0000;
    font-size: 12px;
    font-style: italic;
    width: 100%;
}

.tr-scrolls-wrapper .blueListing li.blueLi {
}

.serialSearch .blueListing li.blueLi {
    width: 49%;
}

.serialSearch .blueListing li.blueLi.evenSerial {
    margin-right: 0;
}

.viewProductThreeColumns span {
    width: 30%;
    float: left;
}

.closeLabels tr td {
    width: 35%;
    float: left;
}

.textUnderlined {
    text-decoration: underline;
}

.tr-provider-wrapper .form-control {
    width: auto;
    display: inline;
    margin-right: 15px;
}

.tr-provider-config {
    border-style: solid;
    border-color: #989eaa;
    border-width: 0.1px;
    width: 520px;
}

.tr-provider-config .none-bullet-wrapper .ng-scope {
    width: 520px;
}

.tr-provider-config-row {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-left: 15px;
}

.arrangeButton {
    margin-top: 5px;
}

.postSales .form-control {
    width: auto;
    display: inline;
}

.postSales table tr td {
    padding-top: 4px;
}

.postSales table tr td .longText {
    width: 75%;
}

.tr-penalty-fees-wrapper .form-control {
    width: auto;
    display: inline;
    margin-right: 10px;
}

.tr-penalty-fees-wrapper .shortInput {
    width: 70px;
}

.tr-penalty-fees-wrapper select.shortInput {
    padding-right: 2px;
    padding-left: 3px;
}

.underline {
    text-decoration: underline;
}

.adjustment-fields .form-control {
    display: inline;
    width: auto;
    margin-right: 15px;
}

.tr-sla-wrapper .form-control {
    width: auto;
    display: inline;
}