<section ng-controller="discountEngineModuleProdCtrl">
	<input class="btn btn-primary" ng-click="addRule()" value="Add Rule"/>
	<div class="f-right">
		<a class="btn btn-primary ng-binding" ng-click="listAll(true)" href="">
			Refresh Listing
		</a>
	</div>
	<br/><br/>
	<nglist></nglist>
</section>
