<section ng-controller="shoppingCartListModuleDevCtrl as gridCtrl">
	<div>
		<div class="f-right">
			<a class="btn btn-primary" ng-click="getCarts(true)" href="">
				{{translation.refreshListing[LANG]}}
			</a>
		</div>

		<h3>{{translation.shoppingCarts[LANG]}}</h3>
	</div>

	<nglist></nglist>

	<div class="grid">
		<table cellspacing="0" cellpadding="0" border="0" width="100%" class="navigation">
			<tbody>
				<tr>
					<td align="right">
						<ul class="pagination-sm pagination ng-isolate-scope ng-valid">
							<li ng-class="{'disabled': startLimit<=0}">
								<a ng-click="getPrev();" href="">{{translation.getPrevious[LANG]}} {{endLimit}}</a>
							</li>
							<li ng-class="{'disabled': !showNext}">
								<a ng-click="getNext();" href="">{{translation.getNext[LANG]}} {{endLimit}}</a>
							</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
