<form name="productForm" id="productForm" novalidate>
	<div class="body">
		<accordion close-others=false>
			<accordion-group is-open=true>
				<accordion-heading>{{translation.mpFields.coreData[LANG]}}</accordion-heading>
				<table width="100%" cellspacing="0" cellpadding="0" border="0">
					<tbody>
						<tr ng-if="formData.serial" class="form-group tr-serial-wrapper">
							<td>
								<div id="serial-wrapper">
									<label>{{translation.mpFields.serial[LANG]}}</label>
									{{formData.serial}}
									<div class="fieldMsg hint"></div>
								</div>
							</td>
						</tr>
						
						<tr class="form-group tr-productType-wrapper">
							<td>
								<div id="productType-wrapper">
									<label>{{translation.mpFields.productType[LANG]}}</label>
									<select style='height:34px' ng-required=true ng-model="formData.coreData.productType" class="form-control" ng-change="productTypeOnChange()">
										<option value="digital">Digital</option>
										<option value="service">Service</option>
										<option value="print">Print</option>
										<option value="physicalGoods">Physical Goods</option>
									</select>
								
								</div>
							</td>
						</tr>
						
						<!--<tr class="form-group tr-groupId-wrapper">-->
						<!--<td>-->
						<!--<div id="groupId-wrapper">-->
						<!--<label>{{translation.mpFields.groupId[LANG]}}</label>-->
						<!--<input type="text" ng-required=true ng-model="formData.coreData.groupId" name="groupId" id="groupId" class="form-control">-->
						<!--<div class="fieldMsg hint"></div>-->
						<!--</div>-->
						<!--</td>-->
						<!--</tr>-->
						
						<tr class="form-group">
							<td style="display: none;">
								<div>
									<label>{{translation.mpFields.groupDefault[LANG]}}</label>
									&nbsp;
									<input type="radio" ng-checked="formData.coreData.groupDefault === true" ng-value=true ng-model="formData.coreData.groupDefault" id="groupDefault_0" name="groupDefault"/>&nbsp;
									<label for="groupDefault_0">true</label>
									&nbsp;-&nbsp;
									<input type="radio" ng-checked="formData.coreData.groupDefault === false" ng-value=false ng-model="formData.coreData.groupDefault" id="groupDefault_1" name="groupDefault"/>&nbsp;
									<label for="groupDefault_1">false</label>
								</div>
							</td>
						</tr>
						
						<tr class="form-group tr-upi-wrapper">
							<td ng-if="formData.coreData.productType==='physicalGoods'">
								<div id="upi-wrapper">
									<fieldset class="upi">
										<legend>{{translation.mpFields.upi[LANG]}}</legend>
										<div id="upi">
											<table width="100%" cellspacing="0" cellpadding="0" border="0">
												<tbody>
													<tr class="form-group tr-upc-wrapper">
														<td>
															<div id="upc-wrapper">
																<label>{{translation.mpFields.upc[LANG]}}</label>
																<input type="text" ng-required=false ng-model="formData.coreData.upi.upc" name="upc" id="upc" class="form-control">
																<div class="fieldMsg hint"></div>
															</div>
														</td>
													</tr>
													<tr class="form-group tr-gtin-wrapper">
														<td>
															<div id="gtin-wrapper">
																<label>{{translation.mpFields.gtin[LANG]}}</label>
																<input type="text" ng-required=false ng-model="formData.coreData.upi.gtin" name="gtin" id="gtin" class="form-control">
																
																<div class="fieldMsg hint"></div>
															</div>
														</td>
													</tr>
													<tr class="form-group">
														<td>
															<div>
																<label>SKU</label>
																<input type="text" ng-required="!tempo.isNotPhysicalGoods" ng-model="formData.coreData.upi.sku" class="form-control">
																<div class="fieldMsg hint"></div>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</fieldset>
								</div>
							</td>
						</tr>
						
						<tr class="form-group tr-udac-wrapper">
							<td>
								<div id="udac-wrapper">
									<label>{{translation.mpFields.udac[LANG]}}</label>
									<input type="text" ng-required="tempo.isNotPhysicalGoods" ng-model="formData.coreData.udac" name="udac" id="udac" class="form-control">
								</div>
							</td>
						</tr>
						
						<tr class="form-group tr-status-wrapper">
							<td>
								<div id="status-wrapper">
									<label>{{translation.mpFields.status[LANG]}}</label>
									&nbsp;<input type="radio" ng-checked="formData.status === 'active'" value="active" ng-model="formData.status" id="status_0" name="status"/>
									&nbsp;<label for="status_0">Active</label>
									&nbsp;-&nbsp;
									<input type="radio" ng-checked="formData.status === 'inactive'" value="inactive" ng-model="formData.status" id="status_1" name="status"/>
									&nbsp;&nbsp;<label for="status_1">Inactive</label>
								</div>
							</td>
						</tr>

						<tr class="form-group">
							<td>
								<div>
									<label>New Product</label>
									&nbsp;<input type="radio" ng-value="true" ng-model="formData.coreData.newProduct" id="newProduct_0" name="newProduct"/>
									&nbsp;<label for="newProduct_0">True</label>
									&nbsp;-&nbsp;<input type="radio" ng-value="false" ng-model="formData.coreData.newProduct" id="newProduct_1" name="newProduct"/>
									&nbsp;<label for="newProduct_1">False</label>
								</div>
							</td>
						</tr>

						<tr style="display: none" class="form-group tr-condition-wrapper">
							<td>
								<div id="condition-wrapper">
									<label>{{translation.mpFields.condition[LANG]}}</label>
									<select class="form-control" style='height:34px' name="unit" id="condition" ng-required=true ng-model="formData.coreData.condition">
										<option value="Refurbished">Refurbished</option>
										<option value="New">New</option>
									</select>
								</div>
							
							</td>
						</tr>
						
						<tr class="form-group">
							<td>
								<!--true or false attributes starts -->
								<ul class="floatList">


									<li class="tr-multipleQuantity-wrapper">

										<div id="multipleQuantity-wrapper">
											<label>{{translation.mpFields.multipleQuantity[LANG]}}</label>
											&nbsp;<input type="radio" ng-checked="formData.coreData.multipleQuantity ===true" tooltip="" ng-value=true ng-model="formData.coreData.multipleQuantity" id="multipleQuantity_0" name="multipleQuantity"/>&nbsp;
											<label for="multipleQuantity_0">True</label>
											&nbsp;-&nbsp;<input type="radio" ng-checked="formData.coreData.multipleQuantity ===false" tooltip="" ng-value=false ng-model="formData.coreData.multipleQuantity" id="multipleQuantity_1" name="multipleQuantity"/>&nbsp;
											<label for="multipleQuantity_1">False</label>
											<div class="fieldMsg hint"></div>
										</div>

									</li>
									<li class="tr-inventory-wrapper">
										
										<div id="inventory-wrapper">
											<label>{{translation.mpFields.inventory[LANG]}}</label>
											&nbsp;<input type="radio" tooltip="" ng-value=true ng-model="formData.coreData.inventory" id="inventory_0" name="inventory"/>&nbsp;
											<label for="inventory_0">True</label>
											&nbsp;-&nbsp;<input type="radio" tooltip="" ng-value=false ng-model="formData.coreData.inventory" id="inventory_1" name="inventory"/>&nbsp;
											<label for="inventory_1">False</label>
											<div class="fieldMsg hint"></div>
										</div>
									
									</li>
									
									<li class="tr-allowReservation-wrapper">
										
										<div id="allowReservation-wrapper">
											<label>{{translation.mpFields.allowReservation[LANG]}}</label>
											&nbsp;<input type="radio" ng-checked="formData.coreData.allowReservation ===true" tooltip="" ng-value=true ng-model="formData.coreData.allowReservation" id="allowReservation_0" name="allowReservation"/>&nbsp;
											<label for="allowReservation_0">True</label>
											&nbsp;-&nbsp;<input type="radio" ng-checked="formData.coreData.allowReservation ===false" tooltip="" ng-value=false ng-model="formData.coreData.allowReservation" id="allowReservation_1" name="allowReservation"/>&nbsp;
											<label for="allowReservation_1">False</label>
											<div class="fieldMsg hint"></div>
										</div>
									
									</li>
									
									<li class="tr-allowWaitingList-wrapper">
										
										<div id="allowWaitingList-wrapper">
											<label>{{translation.mpFields.allowWaitingList[LANG]}}</label>
											&nbsp;<input type="radio" ng-checked="formData.coreData.allowWaitingList ===true" tooltip="" ng-value=true ng-model="formData.coreData.allowWaitingList" id="allowWaitingList_0" name="allowWaitingList"/>&nbsp;
											<label for="allowWaitingList_0">True</label>
											&nbsp;-&nbsp;<input type="radio" ng-checked="formData.coreData.allowWaitingList ===false" tooltip="" ng-value=false ng-model="formData.coreData.allowWaitingList" id="allowWaitingList_1" name="allowWaitingList"/>&nbsp;
											<label for="allowWaitingList_1">False</label>
											<div class="fieldMsg hint"></div>
										</div>
									
									</li>
									
									<li class="tr-renewal-wrapper">
										
										<div id="renewal-wrapper">
											<label>{{translation.mpFields.renewal[LANG]}}</label>
											&nbsp;<input type="radio" ng-checked="formData.coreData.renewal ===true" tooltip="" ng-value=true ng-model="formData.coreData.renewal" id="renewal_0" name="renewal"/>&nbsp;
											<label for="renewal_0">True</label>
											&nbsp;-&nbsp;<input type="radio" ng-checked="formData.coreData.renewal ===false" tooltip="" ng-value=false ng-model="formData.coreData.renewal" id="renewal_1" name="renewal"/>&nbsp;
											<label for="renewal_1">False</label>
											<div class="fieldMsg hint"></div>
										</div>
									
									</li>
									
									<li class="tr-autoRenewal-wrapper">
										
										<div id="autoRenewal-wrapper">
											<label>{{translation.mpFields.autoRenewal[LANG]}}</label>
											&nbsp;<input type="radio" ng-checked="formData.coreData.autoRenewal ===true" tooltip="" ng-value=true ng-model="formData.coreData.autoRenewal" id="autoRenewal_0" name="autoRenewal"/>&nbsp;
											<label for="autoRenewal_0">True</label>
											&nbsp;-&nbsp;<input type="radio" ng-checked="formData.coreData.autoRenewal ===false" tooltip="" ng-value=false ng-model="formData.coreData.autoRenewal" id="autoRenewal_1" name="autoRenewal"/>&nbsp;
											<label for="autoRenewal_1">False</label>
											<div class="fieldMsg hint"></div>
										</div>
									
									</li>
									
									<li style="display: none" class="tr-grandfathered-wrapper">
										
										<div id="grandfathered-wrapper">
											<label>{{translation.mpFields.grandfathered[LANG]}}</label>
											&nbsp;<input type="radio" ng-checked="formData.coreData.grandfathered ===true" tooltip="" ng-value=true ng-model="formData.coreData.grandfathered" id="grandfathered_0" name="grandfathered"/>&nbsp;
											<label for="grandfathered_0">True</label>
											&nbsp;-&nbsp;<input type="radio" ng-checked="formData.coreData.grandfathered ===false" tooltip="" ng-value=false ng-model="formData.coreData.grandfathered" id="grandfathered_1" name="grandfathered"/>&nbsp;
											<label for="grandfathered_1">False</label>
											<div class="fieldMsg hint"></div>
										</div>
									
									</li>
									
									<li class="tr-isAddOn-wrapper">
										
										<div id="isAddOn-wrapper">
											<label>{{translation.mpFields.isAddOn[LANG]}}</label>
											&nbsp;<input type="radio" ng-checked="formData.coreData.isAddOn ===true" tooltip="" ng-value=true ng-model="formData.coreData.isAddOn" id="isAddOn_0" name="isAddOn"/>&nbsp;
											<label for="isAddOn_0">True</label>
											&nbsp;-&nbsp;<input type="radio" ng-checked="formData.coreData.isAddOn ===false" tooltip="" ng-value=false ng-model="formData.coreData.isAddOn" id="isAddOn_1" name="isAddOn"/>&nbsp;
											<label for="isAddOn_1">False</label>
										</div>
									
									</li>
									
									<li class="tr-allowAddOn-wrapper">
										
										<div id="allowAddOn-wrapper">
											<label>{{translation.mpFields.allowAddOn[LANG]}}</label>
											&nbsp;<input type="radio" ng-checked="formData.coreData.allowAddOn ===true" tooltip="" ng-value=true ng-model="formData.coreData.allowAddOn" id="allowAddOn_0" name="allowAddOn"/>&nbsp;
											<label for="allowAddOn_0">True</label>
											&nbsp;-&nbsp;<input type="radio" ng-checked="formData.coreData.allowAddOn ===false" tooltip="" ng-value=false ng-model="formData.coreData.allowAddOn" id="allowAddOn_1" name="allowAddOn"/>&nbsp;
											<label for="allowAddOn_1">False</label>
											<div class="fieldMsg hint"></div>
										</div>
									
									</li>
								</ul>
							</td>
						</tr>
						<!--true or false attributes ends-->
						
						<tr ng-if="formData.coreData.allowAddOn" class="form-group">
							<td>
								<div>
									<fieldset>
										<legend>{{translation.mpFields.addOns[LANG]}}</legend>
										
										<ul class="clearfix none-bullet-wrapper">
											<li ng-repeat="product in formData.coreData.addOns">
												<div class="productDropDown">
													<label>Product {{($index+1)}}</label>
													<select name="product" ng-model="product.serial" ng-required=true class="form-control combo">
														<option ng-repeat="product in tempo.availableProducts" value="{{product.serial}}">
															{{product.serial}} - {{product.udac}} - {{product.title}}
														</option>
													</select>
												</div>
												
												<div class='red productDropDown'>
													<span class='red productDropDown'><span class='icon icon-cross' title='Remove' ng-click="removeAddOn($index)"></span></span>
												</div>
											</li>
										</ul>
										
										<input type="button" value="Add Product" class="btn btn-success btn-sm" ng-click="addAddOn()"/>
									
									</fieldset>
								</div>
							</td>
						</tr>
						
						<!--<tr class="form-group tr-cancellationPolicy-wrapper">-->
						<!--<td>-->
						<!--<label>{{translation.mpFields.cancellationPolicy[LANG]}}</label>-->
						<!--<div class="subContents">-->
						<!--<div ng-repeat="one in response.profile.languages">-->
						<!--<label>{{one.label}}</label>-->
						<!--<div id="termsNotification-wrapper">-->
						<!--<input type="text" ng-required=false ng-model="formData.coreData.cancellationPolicy.description[one.id]" class="form-control">-->
						<!--</div>-->
						<!--</div>-->
						<!--</div>-->
						<!--</td>-->
						<!--</tr>-->
						
						<!-- none core attributes (root) -->
						
						<!--<tr class="form-group tr-legal-content-wrapper">-->
						<!--<td>-->
						<!--<label>{{translation.mpFields.legalContent[LANG]}}</label>-->
						<!--<div class="subContents">-->
						<!--<div ng-repeat="one in response.profile.languages">-->
						<!--<label>{{one.label}}</label>-->
						<!--<div>-->
						<!--<input type="text" ng-required=false ng-model="formData.legal.content[one.id]" class="form-control">-->
						<!--</div>-->
						<!--</div>-->
						<!--</div>-->
						<!--</td>-->
						<!--</tr>-->
					
					</tbody>
				</table>
			</accordion-group>
			<accordion-group is-open=edit>
				<ng-include src="ModuleQaMpLocation+'/directives/plugins/segmentation.tmpl'"></ng-include>
			</accordion-group>
			<accordion-group is-open=edit>
				<ng-include src="ModuleQaMpLocation+'/directives/plugins/rules.tmpl'"></ng-include>
			</accordion-group>
			<accordion-group is-open=edit>
				<accordion-heading>{{translation.mpFields.productConfiguration[LANG]}}</accordion-heading>
				<span class="fieldMsg hint">Choose the fields that are mandatory to configure the product before sale</span>
				
				<table width="100%" cellspacing="0" cellpadding="0" border="0">
					
					<tr ng-repeat="conf in formData.productConfiguration" class="form-group">
						<td class="tr-productConfiguration">
							<ng-include src="ModuleQaMpLocation+'/directives/plugins/productConfiguration.tmpl'"></ng-include>
						</td>
					</tr>
					
					<tr>
						<td>
							<button type="button" class="btn btn-success btn-sm" ng-click="addProductConf()">
								Add new
							</button>
						
						</td>
					</tr>
				
				</table>
			
			</accordion-group>
			<accordion-group is-open=edit>
				<ng-include src="ModuleQaMpLocation+'/directives/plugins/attributes.tmpl'"></ng-include>
			</accordion-group>
			<accordion-group is-open=edit>
				<ng-include src="ModuleQaMpLocation+'/directives/plugins/productData.tmpl'"></ng-include>
			</accordion-group>
			<accordion-group ng-if="!tempo.isNotPhysicalGoods" is-open=edit>
				<accordion-heading>{{translation.mpFields.shippingData[LANG]}}</accordion-heading>
				<div class="form-group tr-data-wrapper">
					<div id="data-wrapper">
						<div id="data">
							<table cellspacing="0" cellpadding="0" border="0">
								<tbody>
									<tr>
										<td><label>{{translation.dimensions[LANG]}}</label></td>
										<td></td>
										<td></td>
										<td><label>{{translation.unit[LANG]}}</label></td>
									</tr>
									<tr class="form-group tr-dimensions-wrapper">
										<td>
											<input type="number" ng-required="!tempo.isNotPhysicalGoods" tooltip="" placeholder="{{translation.length[LANG]}} ({{translation.depth[LANG]}})" min="0.01"
											       ng-model="formData.shippingData.dimensions[0].length" name="" id="length" class="form-control"/>
										</td>
										<td>
											<input type="number" ng-required="!tempo.isNotPhysicalGoods" tooltip="" placeholder="{{translation.width[LANG]}}" min="0.01" ng-model="formData.shippingData.dimensions[0].width"
											       name="" id="width" class="form-control"/>
										</td>
										<td>
											<input type="number" ng-required="!tempo.isNotPhysicalGoods" tooltip="" placeholder="{{translation.height[LANG]}}" min="0.01" ng-model="formData.shippingData.dimensions[0].height"
											       name="" id="height" class="form-control"/>
										</td>
										<td>
											<select style='height:34px' name="unit" id="d_unit" ng-required="!tempo.isNotPhysicalGoods" ng-model="formData.shippingData.dimensions[0].unit">
												<option value="m">Metre</option>
												<option value="cm">Centimetre</option>
												<option value="mm">Millimetre</option>
												<option value="ft">Foot</option>
												<option value="in">Inch</option>
											</select>
										
										</td>
									
									</tr>
									<tr>
										<td><label>{{translation.weight[LANG]}}</label></td>
										<td><label>{{translation.unit[LANG]}}</label></td>
									
									</tr>
									<tr>
										<td>
											<input type="number"
											       ng-required="!tempo.isNotPhysicalGoods"
											       tooltip=""
											       placeholder="10"
											       min="0.001"
											       value=""
											       ng-model="formData.shippingData.weight[0].value"
											       name="weight"
											       id="weight" class="form-control"/>
										
										</td>
										<td>
											<select style='height:34px' name="unit" id="w_unit" ng-required="!tempo.isNotPhysicalGoods" ng-model="formData.shippingData.weight[0].unit">
												<option value="kg">Kilogram</option>
												<option value="g">Gram</option>
												<option value="mg">Milligram</option>
												<option value="oz">Ounce</option>
												<option value="lb">Pound</option>
											</select>
										
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			
			</accordion-group>
			<accordion-group is-open=true>
				<ng-include src="ModuleQaMpLocation+'/directives/plugins/pricingRules.tmpl'"></ng-include>
			</accordion-group>
			<accordion-group ng-if="tempo.isNotPhysicalGoods" is-open=edit>
				<ng-include src="ModuleQaMpLocation+'/directives/plugins/fulfillmentContent.tmpl'"></ng-include>
			</accordion-group>
		</accordion>
	</div>
	<div ng-show="productForm.$submitted && !productForm.$valid" class="alert ng-isolate-scope alert-danger alert-dismissable">
		<div>
			<span class="ng-binding">
				{{translation.someFieldsAreStillMissing[LANG]}}
			</span>
		</div>
	</div>
	<div class="footer"><br>
		<input type="button" class="btn btn-sm btn-primary" value="{{translation.saveAsDraft[LANG]}}" ng-click="saveDraft()" ng-if="saveDraftActive">
		<input type="submit" class="btn btn-sm btn-primary" value="{{translation.submit[LANG]}}" ng-click="save(productForm)">
	</div>
</form>