<script type="text/ng-template" id="infoBox.html">
	<div class="modal-header">
		<h3 class="modal-title">{{title}}</h3>
	</div>
	<div class="modal-body">
		<h4>Information:</h4>
		<table width="100%">
			<tr class="ng-scope">
				<td valign="top" width="30%"><b>Name:</b></td>
				<td>{{data.name}}</td>
			</tr>
			<tr class="ng-scope">
				<td valign="top" width="30%"><b>Feed Profile:</b></td>
				<td>{{data.config.feed_profile_name}}</td>
			</tr>

			<tr class="ng-scope" ng-if="data.config.selectAll">
				<td valign="top" width="30%"><b>Categories:</b></td>
				<td>All categories are selected</td>
			</tr>
		</table>
		<br>

		<div class="w100 c-both inlineAPIBox" style="display: table;">
			<div class="entryBoxes entryBoxesGrid" style="height:100px;">
				<div ng-if="!data.config.selectAll" class="dbBox" style="width:45% !important;">
					<div class="head">
						<b><span> <b>Categories</b></span></b>
					</div>
					<div class="infoBox">
						<div>
							<span ng-repeat="oneCat in data.config.categories.selected">{{profile.taxonomies[oneCat].label[selectedLang].value}}<br></span>
						</div>
					</div>
				</div>
				<div class="dbBox" style="width:45% !important;">
					<div class="head">
						<b><span> <b>Merchants</b></span></b>
					</div>
					<div class="infoBox">
						<div>
							<span ng-repeat="oneSource in data.config.sources">{{oneSource[0].name}}<br></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
	</div>
</script>

<script type="text/ng-template" id="addcat.tmpl">
	<div class="modal-header">
		<a class="pull-right" ng-click="closeModal()" href="">
			<span class="icon icon-cross" tooltip="Close"></span>
		</a>

		<h3 class="modal-title">{{title}}</h3>
	</div>

	<div class="modal-body">
		<div class="form">
			<alert type="danger" ng-if="message.danger">
				{{message.text}}
			</alert>
			<form name="catalog" id="catalog" novalidate
			      ng-submit="catalog.$valid && onSubmit()">
				<div class="form-group">
					<label>Name</label>
					<input type="text" class="form-control" ng-disabled="catalogDisabled.name" ng-model="postData.name" ng-required="catalogRequired.name">
				</div>

				<div class="form-group">
					<br/>
					<label>Feed Profiles</label>
					<select class="form-control"
					        name="feedSelect" id="feedSelect"
					        ng-required="catalogRequired.feed"
					        ng-change="getFeed()"
					        ng-model="selectedFeed">
						<option value="">---Please select---</option>
						<option ng-repeat="feed in outerScope.feedProfile"
						        value="{{feed._id}}">{{feed.name}}
						</option>
					</select><br>
				</div>

				<label>Categories&nbsp;&nbsp;</label>
				<img ng-src="{{ModuleDevCatalog}}/directives/loading.gif" ng-show="loading" height="18px" width="18px">
				<br>
				<input name="selectAllCategories" ng-model="selectAllCategories" ng-click="selectAllTrigger()" type="checkbox" value="false">
				<span>Select All</span>

				<div class="categoriesList" ng-class="{ 'ng-valid' : postData.config.categories.length>0 }">
					<div ng-repeat="cat in categoriesList" class="categListing">
						<div ng-style="{'padding-left': {{cat.level * 15}}}">
							<input name="categoriesSelected" ng-model="profileSelectedCategories[cat.v]" ng-click="assembleCategories(cat.v)" type="checkbox" ng-hide="selectAllCategories" ng-checked="profileSelectedCategories[cat.v] && profileSelectedCategories[cat.v]===true" value="true">
							<span>{{cat.l}}</span>
						</div>
					</div>
				</div>
				<br/>

				<label>Sources: </label>

				<div ng-repeat="s in outerScope.sourcesModel">
					<input type="checkbox"
					       ng-required="catalogRequired.sources"
					       id="{{s.code}}"
					       ng-model="outerScope.sourcesModel[$index].selected"
					       ng-init="outerIndex= $index"
					       ng-change="toggleSources(outerIndex, 'source')"/>
					<label>{{s.name}}</label>

					<ul ng-if="s.merchants" ng-repeat="m in s.merchants"
					    style="list-style: none;">
						<li>
							<input type="checkbox"
							       id={{m.name}}
							       ng-model="m.selected"
							       ng-change="toggleSources(outerIndex, 'merchant')"
							> <label>{{m.name}}</label>
						</li>
					</ul>
				</div>
				<input type="submit" class="btn btn-primary pull-right" value="Submit"/><br/><br/>
			</form>
		</div>
	</div>
</script>

<section ng-controller="catalogProfilesModuleDevCtrl">
	<span ng-if="access.add">
		<input class="btn btn-primary" ng-click="addCatalogProfile()" value="Add Catalog Profile"/>
	</span><br/><br/>
	<nglist></nglist>
</section>
