<section ng-controller="bundlesListModuleQaCtrl">
	<tabset>
		<tab heading="Bundles" ng-click="listBundles(true)">
			<br>
			<input class="btn btn-primary" ng-click="addBundle()" value="Add Bundle"/>
			<input class="btn btn-success" ng-click="migrateBundles()" value="Migrate Bundles"/>
			
			<div class="f-right">
				<a class="btn btn-primary ng-binding" ng-click="listBundles(true)" href="">
					Refresh Listing
				</a>
			</div>
			<br/><br/>
			<div id="BundlesL"></div>
		</tab>
		</tab>
		<tab style="" ng-if="access.bundles.registerMigration" heading="{{translation.dataMigration[LANG]}}" ng-click="listMigrationBundles();">
			<br/>
			<div id="migrationL"></div>
		</tab>
	</tabset>
</section>


<script type="text/ng-template" id="migration.html">
	<div class="modal-header">
		<h3 class="modal-title">{{title}}</h3>
	</div>
	<div class="modal-body">
		<div ng-if="message.danger">
			<alert type="danger">
				{{message.text}}
			</alert>
			<br/>
		</div>
		<div class="form-group">
			<label>{{translation.environments[LANG]}}</label>
			<span ng-repeat="oneEnv in data.envs">
				<input type="radio" id="envMig" value="{{oneEnv.code}}" ng-model="data.toEnv"/>&nbsp;{{oneEnv.code}}&nbsp;
			</span>
		</div>
		<div class="form-group">
			<label>{{translation.bundles[LANG]}}</label><br/>
			<input type="checkbox" ng-model="data.all"/>&nbsp;{{translation.migrateAll[LANG]}}
			<hr>
			<div class="w100 mb5 table">
				<div class="f-right">
					Search:&nbsp;<input type="text" ng-model="query" value="" ng-disabled="data.all === true"/>
				</div>
			</div>
			<div class="bundlesMList w100">
				<div ng-repeat="oneM in data.bundles | filter: filterData(query)" ng-class="{'first': $first, 'last': $last, selected:row.selected}" ng-class-odd="'odd'" ng-class-even="'even'" class="rows">
					<input type="checkbox" ng-model="data.selectedBundles[oneM._id]" value="{{oneM._id}}" ng-disabled="data.all === true"/>&nbsp;{{oneM.name}}
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="submit()">{{translation.submit[LANG]}}</button>
		<button class="btn btn-danger" ng-click="cancel()">{{translation.cancel[LANG]}}</button>
	</div>
</script>