<script type="text/ng-template" id="infoBox.html">
	<div class="modal-header">
		<h3 class="modal-title">{{title}}</h3>
	</div>
	<div class="modal-body">
		<h4>{{translation.information[LANG]}}:</h4>
		<table width="100%">
			<tr class="ng-scope">
				<td width="30%"><b>{{translation.driver[LANG]}}:</b></td>
				<td>{{data.driver}}</td>
			</tr>
			<tr class="ng-scope">
				<td><b>{{translation.label[LANG]}}:</b></td>
				<td>{{data.label}}</td>
			</tr>
			<tr class="ng-scope">
				<td><b>{{translation.active[LANG]}}:</b></td>
				<td>{{(data.active)?translation.yes[LANG]:translation.no[LANG]}}</td>
			</tr>
			<tr>
				<td><br/></td>
			</tr>
		</table>
		<div class="w100 c-both inlineAPIBox" style="display: table;">
			<div class="apiLabel">{{translation.rates[LANG]}}:</div>
			<div class="entryBoxes entryBoxesGrid" style="height:100px;">
				<div class="dbBox" style="width:30% !important;" ng-repeat="(fieldName, fieldInfo) in data.config.rates track by $index">
					<div class="head">
						<b><span class="icon icon-coin-dollar"> <b> {{fieldInfo.to}} ({{fieldInfo.type}})</b></span></b>
					</div>
					<div class="info">
						<span> <b>{{translation.rate[LANG]}}:</b>&nbsp;{{fieldInfo.rate}}<br/>
							<b>{{translation.priority[LANG]}}:</b>&nbsp;{{fieldInfo.priority}}<br/>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
	</div>
</script>

<section ng-controller="taxValidationModuleQaCtrl" id="taxManagement">
	<input ng-if="access.add && !noAdd" class="btn btn-primary" ng-click="addEntry()" value="{{translation.addTaxCalculator[LANG]}}"/><br/><br/>
	<nglist></nglist>
</section>