.rates tr[class^="form-group tr-to"],
.rates tr[class^="form-group tr-rate"],
.rates tr[class^="form-group tr-type"],
.rates tr[class^="form-group tr-specialTax"],
.rates tr[class^="form-group tr-priority"] {
    float: left;
    width: 15%;
    margin: 0 1%;
    height: 74px;
}

.rates tr[class^="form-group tr-type"]{
    width: 12%;
}

.rates tr[class^="form-group tr-specialTax"] {
    width: 29%;
}

.rates tr[class^="form-group tr-removeTax"] {
    float: left;
    width: 4%;
    height: 74px;
}

.rates tr[class^="form-group tr-removeTax"] td {
    margin-top: 22px;
}

.rates tr td {
    width: 100%;
    display: block;
}

.red {
    border-color: #ebccd1;
    color: #a94442;
    cursor: pointer;
}