.formHeader h3 {
    padding: 10px 15px !important;
    margin: 0;
}

.formHeader {
    color: white;
    border: 1px solid #8a9e5b !important;
    border-radius: 5px;
    margin-bottom: 10px !important;
    background-color: #9ebc5d !important;
}

.leftShift {
    padding-left: 10px;
}

.ng-valid {
    border-color: green;
}

.orderActions {
    text-align: right;
}

.item-even {
    background-color: #f8f8f8;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
}

.orderLabel {
    width: 220px;
}

label {
    margin-bottom: 0;
}

.infoSection {
    text-transform: uppercase;
    font-size: 15px;
}

.prodImage {
    height: 200px;
    margin: 5px auto 0;
    text-align: center;
    width: 200px;
}

.prodImage img {
    max-height: 100%;
    max-width: 100%;
}

.prodImage-env {
    width: 250px;
}

.statusList {
    margin-bottom: 0;
    padding-left: 20px;
    list-style-type: circle;
}