<div class="modal-header">
	<h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
	<h4>{{translation.mpFields.coreData[LANG]}}:</h4>
	<table width="100%">
		<tr class="ng-scope">
			<td valign="top" width="17%"><b>{{translation.mpFields.serial[LANG]}}:</b></td>
			<td width="35%">{{data.serial}}</td>
			<td valign="top" width="17%"><b>{{translation.mpFields.groupId[LANG]}}:</b></td>
			<td>{{data.coreData.groupId}}</td>
		</tr>
		
		<tr class="ng-scope">
			<td valign="top" width="17%"><b>{{translation.mpFields.productType[LANG]}}:</b></td>
			<td>{{data.coreData.productType}}</td>
			<td valign="top"><b>{{translation.mpFields.condition[LANG]}}:</b></td>
			<td>{{data.coreData.condition}}</td>
		</tr>
		
		<tr class="ng-scope">
			<td><b>Last Saved</b></td>
			<td>{{data.ts|prettyLocalDate}}</td>
			<td ng-if="data.coreData.groupDefault" valign="top"><b>{{translation.mpFields.groupDefault[LANG]}}:</b></td>
			<td ng-if="data.coreData.groupDefault">{{data.coreData.groupDefault}}</td>
		</tr>
		
		<tr class="ng-scope">
			<td ng-if="data.coreData.upi.gtin" valign="top"><b>{{translation.mpFields.gtin[LANG]}}:</b></td>
			<td ng-if="data.coreData.upi.gtin">{{data.coreData.upi.gtin}}</td>
			<td ng-if="data.coreData.upi.upc" valign="top"><b>{{translation.mpFields.upc[LANG]}}:</b></td>
			<td ng-if="data.coreData.upi.upc">{{data.coreData.upi.upc}}</td>
		</tr>
		
		<tr class="ng-scope">
			<td ng-if="data.coreData.upi.sku" valign="top"><b>SKU:</b></td>
			<td ng-if="data.coreData.upi.sku">{{data.coreData.upi.sku}}</td>
			<td valign="top"><b>{{translation.mpFields.status[LANG]}}:</b></td>
			<td>{{data.status}}</td>
		</tr>
		
		<tr class="ng-scope">
			<td ng-if="data.coreData.udac" valign="top"><b>{{translation.mpFields.udac[LANG]}}:</b></td>
			<td ng-if="data.coreData.udac">{{data.coreData.udac}}</td>
			<td ng-if="data.coreData.originalUdac" valign="top"><b>Original Udac:</b></td>
			<td ng-if="data.coreData.originalUdac">{{data.coreData.originalUdac}}</td>
		</tr>
		
		
		<tr class="ng-scope">
			<td ng-if="data.coreData.multipleQuantity" class="multipleQuantity" valign="top"><b>Multiple Quantity:</b></td>
			<td ng-if="data.coreData.multipleQuantity">{{data.coreData.multipleQuantity}}</td>
			<td class="newProduct" valign="top"><b>New Product:</b></td>
			<td>{{data.coreData.newProduct}}</td>
		
		</tr>
		
		<tr class="ng-scope">
			<td ng-if="data.coreData.isAddOn" valign="top"><b>{{translation.mpFields.isAddOn[LANG]}}:</b></td>
			<td ng-if="data.coreData.isAddOn">{{data.coreData.isAddOn}}</td>
			<td ng-if="data.coreData.allowAddOn" valign="top"><b>{{translation.mpFields.allowAddOn[LANG]}}:</b></td>
			<td ng-if="data.coreData.allowAddOn">{{data.coreData.allowAddOn}}</td>
		</tr>
		
		<tr class="ng-scope">
			<td ng-if="data.coreData.allowReservation" valign="top">
				<b>{{translation.mpFields.allowReservation[LANG]}}:</b></td>
			<td ng-if="data.coreData.allowReservation">{{data.coreData.allowReservation}}</td>
			<td ng-if="data.coreData.allowWaitingList" valign="top">
				<b>{{translation.mpFields.allowWaitingList[LANG]}}:</b></td>
			<td ng-if="data.coreData.allowWaitingList">{{data.coreData.allowWaitingList}}</td>
		</tr>
		
		<tr class="ng-scope">
			<td ng-if="data.coreData.renewal" valign="top"><b>{{translation.mpFields.renewal[LANG]}}:</b></td>
			<td ng-if="data.coreData.renewal">{{data.coreData.renewal}}</td>
			<td ng-if="data.coreData.autoRenewal" valign="top"><b>{{translation.mpFields.autoRenewal[LANG]}}:</b></td>
			<td ng-if="data.coreData.autoRenewal">{{data.coreData.autoRenewal}}</td>
		</tr>
		
		<tr class="ng-scope">
			<td ng-if="data.coreData.grandfathered" valign="top"><b>{{translation.mpFields.grandfathered[LANG]}}:</b>
			</td>
			<td ng-if="data.coreData.grandfathered">{{data.coreData.grandfathered}}</td>
			<td ng-if="data.coreData.inventory" valign="top"><b>{{translation.mpFields.inventory[LANG]}}:</b></td>
			<td ng-if="data.coreData.inventory">{{data.coreData.inventory}}</td>
		</tr>
		
		<tr class="ng-scope">
			<td ng-if="data.coreData.priceSource" valign="top"><b>Price source</b></td>
			<td ng-if="data.coreData.priceSource">{{data.coreData.priceSource}}</td>
		</tr>
		
		<tr class="ng-scope">
			<td valign="top"><b>{{translation.mpFields.cancellationPolicy[LANG]}}:</b></td>
		</tr>
		
		<tr class="ng-scope" ng-repeat="lang in languages">
			<td valign="top">{{lang.label}}</td>
			<td colspan="3">{{data.coreData.cancellationPolicy.description[lang.id]}}</td>
		</tr>
		
		<tr class="ng-scope">
			<td valign="top">
				<b>{{translation.mpFields.legalContent[LANG]}}:</b></td>
		</tr>
		
		<tr class="ng-scope" ng-repeat="lang in languages">
			<td valign="top">{{lang.label}}</td>
			<td colspan="3" width="80%" ng-bind-html="data.legal.content[lang.id]|toTrustedHtml"></td>
		</tr>
		
		<tr class="ng-scope">
			<td valign="top">
				<b>T's and C's links:</b></td>
		</tr>
		
		<tr class="ng-scope" ng-repeat="lang in languages">
			<td valign="top">{{lang.label}}</td>
			<td colspan="3">{{data.legal.termsConditionsLink[lang.id]}}</td>
		</tr>
	
	</table>
	<br>
	
	<svg height="2" width="100%">
		<line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgb(220,220,220);stroke-width:2"/>
	</svg>
	
	<h4>{{translation.mpFields.segmentation[LANG]}}:</h4>
	
	<fieldset>
		<legend>Sales representative</legend>
		<table width="100%" class="segmentation-viewp-wrapper">
			<tr ng-if="data.segmentation.salesRep.salesChannels.length>0" class="ng-scope">
				<td valign="top"><b>{{translation.mpFields.salesChannels[LANG]}}:</b>
					<ul>
						<li ng-repeat="sc in data.segmentation.salesRep.salesChannels">
							{{sc}}
						</li>
					</ul>
				</td>
			</tr>
			
			<tr ng-if="data.segmentation.salesRep.serviceArea.province.included.length>0 || data.segmentation.salesRep.serviceArea.province.excluded.length>0" class="ng-scope">
				<td valign="top">
					<div ng-if="data.segmentation.salesRep.serviceArea.province.included.length !==0">
						<label>Provinces - {{translation.mpFields.include[LANG]}}:</label>
						
						<ul>
							<li ng-repeat="sa in data.segmentation.salesRep.serviceArea.province.included">
								{{sa.value}}
							</li>
						</ul>
					</div>
					<div class="ng-scope" ng-if="data.segmentation.salesRep.serviceArea.province.excluded.length !==0">
						<label>{{translation.mpFields.serviceArea[LANG]}} -
							{{translation.mpFields.exclude[LANG]}}:</label>
						<ul>
							<li ng-repeat="sa in data.segmentation.salesRep.serviceArea.province.excluded">
								{{sa.value}}
							</li>
						</ul>
					</div>
				</td>
			</tr>
			
			<tr ng-if="data.segmentation.salesRep.serviceArea.included.length>0 || data.segmentation.salesRep.serviceArea.excluded.length>0" class="ng-scope">
				<td valign="top">
					<div ng-if="data.segmentation.salesRep.serviceArea.included.length !==0">
						<label>Markets - {{translation.mpFields.include[LANG]}}:</label>
						
						<ul>
							<li ng-repeat="sa in data.segmentation.salesRep.serviceArea.included">
								{{sa.value}}
							</li>
						</ul>
					</div>
					<div class="ng-scope" ng-if="data.segmentation.salesRep.serviceArea.excluded.length !==0">
						<label>{{translation.mpFields.serviceArea[LANG]}} -
							{{translation.mpFields.exclude[LANG]}}:</label>
						<ul>
							<li ng-repeat="sa in data.segmentation.salesRep.serviceArea.excluded">
								{{sa.value}}
							</li>
						</ul>
					</div>
				</td>
			</tr>
		</table>
	</fieldset>
	
	
	<fieldset>
		<legend>Merchant</legend>
		<table width="100%" class="segmentation-viewp-wrapper">
			
			<!--<tr ng-if="data.segmentation.accountType.length>0" class="ng-scope">-->
			<!--<td valign="top"><b>{{translation.mpFields.accountType[LANG]}}:</b>-->
			<!--<ul>-->
			<!--<li ng-repeat="at in data.segmentation.accountType">-->
			<!--{{at}}-->
			<!--</li>-->
			<!--</ul>-->
			<!--</td>-->
			<!--</tr>-->
			
			<tr ng-if="data.segmentation.serviceArea.province.included.length>0 || data.segmentation.serviceArea.province.excluded.length>0" class="ng-scope">
				<td valign="top">
					<div ng-if="data.segmentation.serviceArea.province.included.length !==0">
						<label>Provinces - {{translation.mpFields.include[LANG]}}:</label>
						
						<ul>
							<li ng-repeat="sa in data.segmentation.serviceArea.province.included">
								{{sa.value}}
							</li>
						</ul>
					</div>
					<div class="ng-scope" ng-if="data.segmentation.serviceArea.province.excluded.length !==0">
						<label>{{translation.mpFields.serviceArea[LANG]}} -
							{{translation.mpFields.exclude[LANG]}}:</label>
						<ul>
							<li ng-repeat="sa in data.segmentation.serviceArea.province.excluded">
								{{sa.value}}
							</li>
						</ul>
					</div>
				</td>
			</tr>
			
			<tr ng-if="data.segmentation.serviceArea.included.length>0 || data.segmentation.serviceArea.excluded.length>0" class="ng-scope">
				<td valign="top">
					<div ng-if="data.segmentation.serviceArea.included.length !==0">
						<label>Markets - {{translation.mpFields.include[LANG]}}:</label>
						
						<ul>
							<li ng-repeat="sa in data.segmentation.serviceArea.included">
								{{sa.value}}
							</li>
						</ul>
					</div>
					<div class="ng-scope" ng-if="data.segmentation.serviceArea.excluded.length !==0">
						<label>{{translation.mpFields.serviceArea[LANG]}} -
							{{translation.mpFields.exclude[LANG]}}:</label>
						<ul>
							<li ng-repeat="sa in data.segmentation.serviceArea.excluded">
								{{sa.value}}
							</li>
						</ul>
					</div>
				</td>
			</tr>
			
			
			<tr ng-if="data.segmentation.verticals.included.length>0 || data.segmentation.verticals.excluded.length>0" class="ng-scope">
				<td valign="top">
					<div ng-if="data.segmentation.verticals.included && data.segmentation.verticals.included.length !==0">
						<label>{{translation.mpFields.verticals[LANG]}} -
							{{translation.mpFields.include[LANG]}}:</label>
						<ul>
							<li ng-repeat="sa in data.segmentation.verticals.included">
								{{sa.value}}
							</li>
						</ul>
					</div>
					<div class="ng-scope" ng-if="data.segmentation.verticals.excluded && data.segmentation.verticals.excluded.length !==0">
						<label>{{translation.mpFields.verticals[LANG]}} -
							{{translation.mpFields.exclude[LANG]}}:</label>
						<ul>
							<li ng-repeat="sa in data.segmentation.verticals.excluded">
								{{sa.value}}
							</li>
						</ul>
					</div>
				</td>
			</tr>
			
			<tr ng-if="data.segmentation.headings.included.length>0 || data.segmentation.headings.excluded.length>0" class="ng-scope">
				<td valign="top">
					<div ng-if="data.segmentation.headings.included && data.segmentation.headings.included.length !==0">
						<label>{{translation.mpFields.headings[LANG]}} - {{translation.mpFields.include[LANG]}}:</label>
						<ul>
							<li ng-repeat="sa in data.segmentation.headings.included">
								{{sa.value}}
							</li>
						</ul>
					</div>
					<div class="ng-scope" ng-if="data.segmentation.headings.excluded && data.segmentation.headings.excluded.length !==0">
						<label>{{translation.mpFields.headings[LANG]}} - {{translation.mpFields.exclude[LANG]}}:</label>
						<ul>
							<li ng-repeat="sa in data.segmentation.headings.excluded">
								{{sa.value}}
							</li>
						</ul>
					</div>
				</td>
			</tr>
			
			<tr ng-if="data.segmentation.sensitiveHeadings.included.length>0 || data.segmentation.sensitiveHeadings.excluded.length>0" class="ng-scope">
				<td valign="top">
					<div ng-if="data.segmentation.sensitiveHeadings.included && data.segmentation.sensitiveHeadings.included.length !==0">
						<label>{{translation.mpFields.sensitiveHeadings[LANG]}} -
							{{translation.mpFields.include[LANG]}}:</label>
						<ul>
							<li ng-repeat="sa in data.segmentation.sensitiveHeadings.included">
								{{sa.value}}
							</li>
						</ul>
					</div>
					<div class="ng-scope" ng-if="data.segmentation.sensitiveHeadings.excluded && data.segmentation.sensitiveHeadings.excluded.length !==0">
						<label>{{translation.mpFields.sensitiveHeadings[LANG]}} -
							{{translation.mpFields.exclude[LANG]}}:</label>
						<ul>
							<li ng-repeat="sa in data.segmentation.sensitiveHeadings.excluded">
								{{sa.value}}
							</li>
						</ul>
					</div>
				</td>
			</tr>
		
		</table>
	</fieldset>
	
	<br>
	
	<svg height="2" width="100%">
		<line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgb(220,220,220);stroke-width:2"/>
	</svg>
	
	<h4>{{translation.mpFields.rules[LANG]}}:</h4>
	
	<table width="100%" class="ng-scope closeLabels">
		<tr ng-if="data.rules.incompatibility.uniqueMarketHeadingMid">
			<td valign="top">{{translation.mpFields.uniqueMarketHeadingMid[LANG]}}:</td>
			<td>{{data.rules.incompatibility.uniqueMarketHeadingMid}}</td>
		</tr>
		<tr ng-if="data.rules.incompatibility.uniqueMid">
			<td valign="top">{{translation.mpFields.uniqueMid[LANG]}}:</td>
			<td>{{data.rules.incompatibility.uniqueMid}}</td>
		</tr>
	</table>
	
	<table width="100%">
		
		<tr ng-if="data.rules.prerequisiteProduct.length>0" class="ng-scope">
			<td valign="top"><b>{{translation.mpFields.prerequisiteProduct[LANG]}}:</b></td>
		</tr>
		
		<tr class="ng-scope" ng-repeat="pp in data.rules.prerequisiteProduct">
			<td valign="top" width="35%"><b>{{translation.mpFields.serial[LANG]}}:</b></td>
			<td>{{pp.serial}}</td>
			<td valign="top" width="35%"><b>{{translation.mpFields.udac[LANG]}}:</b></td>
			<td>{{pp.udac}}</td>
		</tr>
		
		<tr ng-if="data.rules.incompatibility.products.length>0" class="ng-scope">
			<td valign="top" colspan="4"><b>{{translation.mpFields.incompatibility[LANG]}}:</b></td>
		</tr>
		
		<tr class="ng-scope" ng-repeat="pp in data.rules.incompatibility.products">
			<td valign="top"><b>{{translation.mpFields.serial[LANG]}}:</b></td>
			<td>{{pp.serial}}</td>
			<td valign="top"><b>{{translation.mpFields.udac[LANG]}}:</b></td>
			<td>{{pp.udac}}</td>
		</tr>
	
	</table>
	<br>
	
	<svg height="2" width="100%">
		<line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgb(220,220,220);stroke-width:2"/>
	</svg>
	
	<h4>{{translation.mpFields.productConfiguration[LANG]}}:</h4>
	<div class="viewProductThreeColumns" ng-repeat="config in data.productConfiguration">
		<span><b>Name:</b> {{config.name}}</span>
		<span><b>Required:</b> {{config.required}}</span>
		<span><b>Type:</b> {{config.type}}</span>
	</div>
	<br>
	
	<svg height="2" width="100%">
		<line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgb(220,220,220);stroke-width:2"/>
	</svg>
	
	<h4>{{translation.mpFields.attributes[LANG]}}:</h4>
	<table width="100%">
		
		<tr class="ng-scope">
			<td valign="top" width="25%"><b>{{translation.mpFields.category[LANG]}}:</b></td>
			<td width="25%">{{data.attributes.category[0].value}}</td>
			<!--<td ng-if="data.attributes.category[0].value" width="25%" valign="top"><b>{{translation.mpFields.brand[LANG]}}:</b>-->
			<!--</td>-->
			<!--<td ng-if="data.attributes.category[0].value" width="25%">{{data.attributes.category[0].value}}</td>-->
		</tr>
		
		<!--<tr class="ng-scope">-->
		<!--<td ng-if="data.attributes.classification[0].value" valign="top"><b>{{translation.mpFields.classification[LANG]}}:</b>-->
		<!--</td>-->
		<!--<td ng-if="data.attributes.classification[0].value">{{data.attributes.classification[0].value}}</td>-->
		<!---->
		<!--<td ng-if="data.attributes.language.length>0" valign="top"><b>{{translation.mpFields.language[LANG]}}:</b>-->
		<!--</td>-->
		<!--<td>-->
		<!--<div style="display:inline" ng-repeat="lang in data.attributes.language">-->
		<!--{{lang}}-->
		<!--<span ng-if="$index!==(data.attributes.language.length-1)">,</span>-->
		<!--</div>-->
		<!--</td>-->
		<!--</tr>-->
	</table>
	<!--<table width="100%">-->
	<!--<tr>-->
	<!--<td>-->
	<!--<b>Review</b>-->
	<!--<div style="padding-left: 15px">-->
	<!--<span valign="top"><b>{{translation.mpFields.average[LANG]}}:</b></span>-->
	<!--<span>{{data.attributes.review.average}}</span>-->
	<!--<span> &nbsp; &nbsp; </span>-->
	<!--<span valign="top"><b>{{translation.mpFields.count[LANG]}}:</b></span>-->
	<!--<span>{{data.attributes.review.count}}</span>-->
	<!--</div>-->
	<!--</td>-->
	<!--</tr>-->
	<!---->
	<!--<tr ng-if="data.attributes.variations.length>0" class="ng-scope">-->
	<!--<td valign="top">-->
	<!--<label>{{translation.mpFields.variations[LANG]}}:</label>-->
	<!---->
	<!--<div style="padding-left: 15px" class="ng-scope" ng-repeat="(key,val) in data.attributes.variations">-->
	<!--<b>{{key}}:</b>-->
	<!---->
	<!--<div style="display:inline" ng-repeat="each in val">-->
	<!--{{each.value}}-->
	<!--<span ng-if="$index!==(val.length-1)">, </span>-->
	<!--</div>-->
	<!--</div>-->
	<!--</td>-->
	<!--</tr>-->
	<!---->
	<!--</table>-->
	<br>
	
	<svg height="2" width="100%">
		<line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgb(220,220,220);stroke-width:2"/>
	</svg>
	
	<h4>{{translation.mpFields.productData[LANG]}}:</h4>
	
	<tabset>
		<tab ng-repeat="oneLang in languages" heading="{{oneLang.label}}">
			<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tr>
					<td valign="top" width="20%"><b>{{translation.title[LANG]}}</b></td>
					<td width="80%">{{data.productData.title[oneLang.id]}}</td>
				</tr>
				
				<tr>
					<td ng-if="data.productData.shortDescription[oneLang.id]" valign="top" width="20%"><b>{{translation.shortDescription[LANG]}}</b>
					</td>
					<td ng-if="data.productData.shortDescription[oneLang.id]" width="80%" ng-bind-html="data.productData.shortDescription[oneLang.id]|toTrustedHtml"></td>
				</tr>
				
				<tr>
					<td ng-if="data.productData.longDescription[oneLang.id]" valign="top" width="20%"><b>{{translation.fullDescription[LANG]}}</b>
					</td>
					<td ng-if="data.productData.longDescription[oneLang.id]" width="80%" ng-bind-html="data.productData.longDescription[oneLang.id]|toTrustedHtml"></td>
				</tr>
				
				<tr ng-if="data.productData.media.images[oneLang.id].length>0">
					<td><b>{{translation.image[LANG]}}</b></td>
				</tr>
				
				<tr class="ng-scope" ng-repeat="oneImg in data.productData.media.images[oneLang.id]">
					<td valign="top">
						<img draggable=false ng-src="{{oneImg.url}}" width="20%"/>
					</td>
					<td>{{oneImg.url}}</td>
				</tr>
				
				<tr ng-if="data.productData.media.videos[oneLang.id].length>0">
					<td><b>{{translation.video[LANG]}}</b></td>
				</tr>
				
				<tr class="ng-scope" ng-repeat="oneVid in data.productData.media.videos[oneLang.id]">
					<td valign="top"></td>
					<td>{{oneVid.url}}</td>
				</tr>
				
				<tr ng-if="data.productData.media.resources[oneLang.id].length>0">
					<td><b>{{translation.mpFields.resources[LANG]}}</b></td>
				</tr>
				
				<tr class="ng-scope" ng-repeat="res in data.productData.media.resources[oneLang.id]">
					<td valign="top"></td>
					<td>{{res.url}}</td>
				</tr>
			
			</table>
		</tab>
	</tabset>
	
	<br>
	
	<svg ng-if="data.coreData.productType==='physicalGoods'" height="2" width="100%">
		<line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgb(220,220,220);stroke-width:2"/>
	</svg>
	
	<h4 ng-if="data.coreData.productType==='physicalGoods'"> {{translation.mpFields.shippingData[LANG]}}:</h4>
	<table ng-if="data.coreData.productType==='physicalGoods'" width="100%">
		
		<tr class="ng-scope">
			<td valign="top"><b>{{translation.length[LANG]}}:</b></td>
			<td>{{data.shippingData.dimensions[0].length}}</td>
			<td valign="top"><b>{{translation.unit[LANG]}}:</b></td>
			<td>{{data.shippingData.dimensions[0].unit}}</td>
		</tr>
		
		<tr class="ng-scope">
			<td valign="top"><b>{{translation.width[LANG]}}:</b></td>
			<td>{{data.shippingData.dimensions[0].width}}</td>
			<td valign="top"><b>{{translation.unit[LANG]}}:</b></td>
			<td>{{data.shippingData.dimensions[0].unit}}</td>
		</tr>
		
		<tr class="ng-scope">
			<td valign="top"><b>{{translation.height[LANG]}}:</b></td>
			<td>{{data.shippingData.dimensions[0].height}}</td>
			<td valign="top"><b>{{translation.unit[LANG]}}:</b></td>
			<td>{{data.shippingData.dimensions[0].unit}}</td>
		</tr>
		
		
		<tr class="ng-scope">
			<td valign="top"><b>{{translation.weight[LANG]}}:</b></td>
			<td>{{data.shippingData.weight[0].value}}</td>
			<td valign="top"><b>{{translation.unit[LANG]}}:</b></td>
			<td>{{data.shippingData.weight[0].unit}}</td>
		</tr>
	
	</table>
	<br>
	
	<svg height="2" width="100%">
		<line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgb(220,220,220);stroke-width:2"/>
	</svg>
	
	<h4>{{translation.mpFields.price[LANG]}}:</h4>
	<table width="100%">
		
		<tr>
			<td width="20%"></td>
			<td width="20%"></td>
			<td width="20%"></td>
			<td width="20%"></td>
			<td width="20%"></td>
		</tr>
		
		<tr class="ng-scope">
			<td valign="top"><b>{{translation.mpFields.productValue[LANG]}}:</b></td>
			<td>{{data.merchantMeta.pricing.productValue}}</td>
			<td valign="top"><b>{{translation.mpFields.price[LANG]}}:</b></td>
			<td>{{data.merchantMeta.pricing.price}}</td>
			<td valign="top" ng-if="data.merchantMeta.pricing.minimumCommitment"><b>{{translation.mpFields.minimumCommitment[LANG]}}:</b>
			</td>
			<td ng-if="data.merchantMeta.pricing.minimumCommitment">{{data.merchantMeta.pricing.minimumCommitment}}</td>
		</tr>
		
		<!--<tr class="ng-scope">-->
		<!--<td ng-if="data.merchantMeta.pricing.repCommission.value" valign="top"><b>{{translation.mpFields.commissionValue[LANG]}}:</b></td>-->
		<!--<td ng-if="data.merchantMeta.pricing.repCommission.value">{{data.merchantMeta.pricing.repCommission.value}}</td>-->
		<!--<td ng-if="data.merchantMeta.pricing.repCommission.category" valign="top"><b>{{translation.mpFields.category[LANG]}}:</b></td>-->
		<!--<td ng-if="data.merchantMeta.pricing.repCommission.category">{{data.merchantMeta.pricing.repCommission.category}}</td>-->
		<!--</tr>-->
		
		<tr class="ng-scope">
			<td ng-if="data.merchantMeta.pricing.maxDiscountLevel" valign="top"><b>{{translation.mpFields.maxDiscountLevel[LANG]}}:</b>
			</td>
			<td ng-if="data.merchantMeta.pricing.maxDiscountLevel">{{data.merchantMeta.pricing.maxDiscountLevel}}</td>
		</tr>
	
	</table>
	<br>
	<h4 ng-if="data.merchantMeta.pricing.penaltyFees">{{translation.mpFields.penaltyFees[LANG]}}</h4>
	<div class="ng-scope" ng-if="data.merchantMeta.pricing.penaltyFees">
		
		<label ng-if="data.merchantMeta.pricing.penaltyFees.cancellation && data.merchantMeta.pricing.penaltyFees.cancellation.length > 0" class="textUnderlined">{{translation.mpFields.cancellation[LANG]}}:</label>
		<div class="ng-scope" ng-repeat="fee in data.merchantMeta.pricing.penaltyFees.cancellation">
			<table width="100%">
				<tr>
					<td width="20%"></td>
					<td width="20%"></td>
					<td width="20%"></td>
					<td width="20%"></td>
					<td width="20%"></td>
				
				</tr>
				<tr>
					<td><b>{{translation.mpFields.value[LANG]}}</b></td>
					<td>{{fee.value}}</td>
				</tr>
				
				<tr>
					<td><b>{{translation.mpFields.mandatoryNotice[LANG]}}</b></td>
					<td>{{fee.mandatoryNotice.value}}
						{{fee.mandatoryNotice.unit}}<span ng-if="fee.mandatoryNotice.value > 1">s</span></td>
				</tr>
				<tr>
					<td><b>{{translation.mpFields.minimumCommitment[LANG]}}</b></td>
					<td>{{fee.minimumCommitment.value}}
						{{fee.minimumCommitment.unit}}<span ng-if="fee.minimumCommitment.value > 1">s</span></td>
				</tr>
				<tr>
					<td><b>{{translation.mpFields.englishLabel[LANG]}}</b></td>
					<td>{{fee.label.en}}</td>
					<td><b>{{translation.mpFields.frenchLabel[LANG]}}</b></td>
					<td>{{fee.label.fr}}</td>
				</tr>
			</table>
		</div>
		<span ng-if="data.merchantMeta.pricing.penaltyFees.cancellation && data.merchantMeta.pricing.penaltyFees.cancellation.length > 0"><br></span>
		<label ng-if="data.merchantMeta.pricing.penaltyFees.pause && data.merchantMeta.pricing.penaltyFees.pause.length > 0" class="textUnderlined">{{translation.mpFields.pause[LANG]}}:</label>
		<div class="ng-scope" ng-repeat="fee in data.merchantMeta.pricing.penaltyFees.pause">
			<table width="100%">
				<tr>
					<td width="20%"></td>
					<td width="20%"></td>
					<td width="20%"></td>
					<td width="20%"></td>
					<td width="20%"></td>
				
				</tr>
				<tr>
					<td><b>{{translation.mpFields.value[LANG]}}</b></td>
					<td>{{fee.value}}</td>
				</tr>
				
				<tr>
					<td><b>{{translation.mpFields.maxTimeFrame[LANG]}}</b></td>
					<td>{{fee.maxTimeFrame.value}}
						{{fee.maxTimeFrame.unit}}<span ng-if="fee.maxTimeFrame.value > 1">s</span></td>
				</tr>
				<tr>
					<td><b>{{translation.mpFields.englishLabel[LANG]}}</b></td>
					<td>{{fee.label.en}}</td>
					<td><b>{{translation.mpFields.frenchLabel[LANG]}}</b></td>
					<td>{{fee.label.fr}}</td>
				</tr>
			</table>
		</div>
		<span ng-if="data.merchantMeta.pricing.penaltyFees.pause && data.merchantMeta.pricing.penaltyFees.pause.length > 0"><br></span>
		<label ng-if="data.merchantMeta.pricing.penaltyFees.downgrade && data.merchantMeta.pricing.penaltyFees.downgrade.length > 0" class="textUnderlined">{{translation.mpFields.downgrade[LANG]}}:</label>
		<div class="ng-scope" ng-repeat="fee in data.merchantMeta.pricing.penaltyFees.downgrade">
			<table width="100%">
				<tr>
					<td width="20%"></td>
					<td width="20%"></td>
					<td width="20%"></td>
					<td width="20%"></td>
					<td width="20%"></td>
				
				</tr>
				<tr>
					<td><b>{{translation.mpFields.value[LANG]}}</b></td>
					<td>{{fee.value}}</td>
				</tr>
				<tr>
					<td><b>{{translation.mpFields.minimumCommitment[LANG]}}</b></td>
					<td>{{fee.minimumCommitment.value}}
						{{fee.minimumCommitment.unit}}<span ng-if="fee.minimumCommitment.value > 1">s</span></td>
				</tr>
				<tr>
					<td><b>{{translation.mpFields.englishLabel[LANG]}}</b></td>
					<td>{{fee.label.en}}</td>
					<td><b>{{translation.mpFields.frenchLabel[LANG]}}</b></td>
					<td>{{fee.label.fr}}</td>
				</tr>
			</table>
		</div>
		<span ng-if="data.merchantMeta.pricing.penaltyFees.downgradee && data.merchantMeta.pricing.penaltyFees.downgrade.length > 0"><br></span>
	</div>
	<h4>{{translation.mpFields.rules[LANG]}}</h4>
	
	<div class="ng-scope" ng-repeat="rule in data.merchantMeta.pricing.rules">
		
		<label class="textUnderlined">Rule {{$index+1}} - {{rule.ruleTypeDisplay}} {{rule.pureEvergreen?"(Pure Evergreen)":""}} :</label>
		
		<table width="100%">
			<tr>
				<td width="20%"></td>
				<td width="20%"></td>
				<td width="20%"></td>
				<td width="20%"></td>
				<td width="20%"></td>
			</tr>
			
			<tr>
				<td><b>English Label</b></td>
				<td>{{rule.label.en}}</td>
				<td><b>French Label</b></td>
				<td>{{rule.label.fr}}</td>
			</tr>
			
			<tr class="ng-scope" ng-if="rule.autoRenewal !== undefined">
				<td><b>Auto Renewal</b></td>
				<td>{{rule.autoRenewal}}</td>
				<td ng-if="rule.renewalRule"><b>Renewal Rule</b></td>
				<td ng-if="rule.renewalRule">{{rule.renewalRuleDisplay}}</td>
			</tr>
			
			<tr class="ng-scope" ng-if="rule.allowExtraDiscounts !== undefined">
				<td><b>Allow extra discounts</b></td>
				<td>{{rule.allowExtraDiscounts}}</td>
			</tr>
		
		</table>
		
		<div ng-if="rule.adjustment">
			<table width="100%">
				
				<tr>
					<td width="20%"></td>
					<td width="20%"></td>
					<td width="20%"></td>
					<td width="20%"></td>
					<td width="20%"></td>
				</tr>
				
				<tr>
					<td><b>Adjustment Value</b></td>
					<td>{{rule.adjustment.signum==='positive'?'+':'-'}} {{rule.adjustment.value}}</td>
					<td><b>Adjustment Type</b></td>
					<td>{{rule.adjustment.type}}</td>
				</tr>
			</table>
		</div>
		
		<div ng-if="rule.conditions">
			<hr style="margin: 0">
			<label>Conditions</label>
			<table>
				<tr class="ng-scope" ng-repeat="cond in rule.conditions">
					<td><b>Criteria:</b> {{cond.criteria}}</td>
					<td> &nbsp; &nbsp; &nbsp; </td>
					<td><b>Value:</b> {{cond.value}}</td>
				</tr>
			</table>
		</div>
		
		<div ng-if="rule.onetime">
			<hr style="margin: 0">
			<label>{{translation.mpFields.onetime[LANG]}}</label>
			<table width="100%">
				<tr>
					<td width="35%"><b>En Name:</b> {{rule.onetime.name.en}}</td>
					<td width="35%"><b>Fr Name:</b> {{rule.onetime.name.fr}}</td>
					<td><b>Value:</b> {{rule.onetime.value}}</td>
					<td>
						<span ng-if="rule.onetime.savings"><b>Savings:</b> {{rule.onetime.savings}}</span>
					</td>
				</tr>
			</table>
		</div>
		
		<div ng-if="rule.registration">
			<hr style="margin: 0">
			<!--<label>{{ translation.mpFields.registration[LANG]}}</label>-->
			<table width="100%">
				<tr>
					<td width="20%"></td>
					<td width="20%"></td>
					<td width="20%"></td>
					<td width="20%"></td>
					<td width="20%"></td>
				</tr>
				
				<tr class="ng-scope" ng-repeat="reg in rule.registration">
					<td>Registration fee</td>
					<td>{{reg.name.en}}</td>
					<td>{{reg.name.fr}}</td>
					<td>{{reg.value}}</td>
					<td>{{reg.quantity}}</td>
				</tr>
			
			</table>
		</div>
		
		<div ng-if="rule.recurring && rule.recurring.length">
			<hr style="margin: 0">
			<label>Recurring Fees</label>
			<table width="100%">
				<tr>
					<td width="30%"></td>
					<td width="30%"></td>
					<td width="20%"></td>
					<td width="10%"></td>
					<td width="10%"></td>
				</tr>
				<tr>
					<td><b>English Name</b></td>
					<td><b>French Name</b></td>
					<td><b>Value</b></td>
					<td><b>Frequency</b></td>
					<td><b>Savings</b></td>
				</tr>
				<tr class="ng-scope" ng-repeat="rec in rule.recurring">
					<td>{{rec.name.en}}</td>
					<td>{{rec.name.fr}}</td>
					<td>{{rec.value}}</td>
					<td>{{rec.frequency}}</td>
					<td>{{rec.savings}}</td>
				</tr>
			
			</table>
		</div>
		<br>
		<div>
			<table width="100%">
				<tr>
					<td width="20%"></td>
					<td width="20%"></td>
					<td width="20%"></td>
					<td width="20%"></td>
					<td width="20%"></td>
				</tr>
				
				<tr class="ng-scope" ng-if="rule.term">
					<td>Contract Length</td>
					<td>{{rule.term.quantity}} {{rule.term.unit}}</td>
				</tr>
			
			</table>
		</div>
	
	</div>
	
	<svg ng-if="data.merchantMeta.pricing.postSale && data.merchantMeta.pricing.postSale.length!==0" height="2" width="100%">
		<line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgb(220,220,220);stroke-width:2"/>
	</svg>
	
	<br>
	
	<h4 ng-if="data.merchantMeta.pricing.postSale && data.merchantMeta.pricing.postSale.length!==0">Post Sales
		Rules:</h4>
	<table ng-if="data.merchantMeta.pricing.postSale && data.merchantMeta.pricing.postSale.length!==0" width="100%">
		
		<tr>
			<td width="20%"><b>Name</b></td>
			<td width="20%"><b>Value</b></td>
			<td width="30%"><b>English Label</b></td>
			<td width="30%"><b>French Label</b></td>
		</tr>
		
		<tr class="ng-scope" ng-repeat="postRule in data.merchantMeta.pricing.postSale">
			<td>{{postRule.name}}</td>
			<td>{{postRule.value}}</td>
			<td>{{postRule.label.en}}</td>
			<td>{{postRule.label.fr}}</td>
		</tr>
	
	</table>
	
	<br>
	
	<svg height="2" width="100%">
		<line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgb(220,220,220);stroke-width:2"/>
	</svg>
	
	<h4>{{translation.mpFields.fulfillmentRules[LANG]}}:</h4>
	<table width="100%">
		
		<tr>
			<td width="20%"></td>
			<td width="20%"></td>
			<td width="20%"></td>
			<td width="20%"></td>
			<td width="20%"></td>
		</tr>
		
		<tr>
			<td ng-if="data.fulfillmentRules.sla.minDelay" valign="top"><b>{{translation.mpFields.sla[LANG]}}</b></td>
		</tr>
		
		<tr class="ng-scope">
			<td ng-if="data.fulfillmentRules.sla.minDelay" valign="top"><b>{{translation.mpFields.minDelay[LANG]}}:</b>
			</td>
			<td ng-if="data.fulfillmentRules.sla.minDelay">{{data.fulfillmentRules.sla.minDelay}}</td>
			<td ng-if="data.fulfillmentRules.sla.maxDelay" valign="top"><b>{{translation.mpFields.maxDelay[LANG]}}:</b>
			</td>
			<td ng-if="data.fulfillmentRules.sla.maxDelay">{{data.fulfillmentRules.sla.maxDelay}}</td>
		</tr>
		
		<tr>
			<td ng-if="data.fulfillmentRules.renewalSla.minDelay" valign="top"><b>{{translation.mpFields.renewalSla[LANG]}}</b>
			</td>
		</tr>
		
		<tr class="ng-scope">
			<td ng-if="data.fulfillmentRules.renewalSla.minDelay" valign="top"><b>{{translation.mpFields.minDelay[LANG]}}:</b>
			</td>
			<td ng-if="data.fulfillmentRules.renewalSla.minDelay">{{data.fulfillmentRules.renewalSla.minDelay}}</td>
			<td ng-if="data.fulfillmentRules.renewalSla.maxDelay" valign="top"><b>{{translation.mpFields.maxDelay[LANG]}}:</b>
			</td>
			<td ng-if="data.fulfillmentRules.renewalSla.maxDelay">{{data.fulfillmentRules.renewalSla.maxDelay}}</td>
		</tr>
	
	</table>
	
	<div ng-if="data.fulfillmentRules.fulfillmentPlan.providers && data.fulfillmentRules.fulfillmentPlan.providers.length!==0">
		<h4>Fulfillment plan - providers:</h4>
		<table width="100%">
			<tr>
				<td width="34%"></td>
				<td width="33%"></td>
				<td width="30%"></td>
			</tr>
			
			<tr class="ng-scope" ng-repeat="provider in data.fulfillmentRules.fulfillmentPlan.providers">
				<td><b>Name: </b>{{provider.name}}</td>
				<td><b>Key: </b>{{provider.config.key}}</td>
				<td><b>Value: </b>{{provider.config.value}}</td>
			</tr>
		
		</table>
		
		<!--<h4 ng-if="data.fulfillmentRules.fulfillmentPlan.providers.length!==0">Fulfillment plan - providers:</h4>-->
		<!--<div class="viewProductThreeColumns" ng-repeat="provider in data.fulfillmentRules.fulfillmentPlan.providers">-->
		<!--<span><b>Name:</b> {{provider.name}}</span>-->
		<!--<span><b>Key:</b> {{provider.config.key}}</span>-->
		<!--<span><b>Value:</b> {{provider.config.value}}</span>-->
		<!--</div>-->
	</div>
	
	<br>
	
	<div ng-if="data.fulfillmentRules.content.length!==0">
		<h4>Content:</h4>
		<table width="100%">
			<tr>
				<td width="34%"></td>
				<td width="33%"></td>
				<td width="30%"></td>
			</tr>
			
			<tr class="ng-scope" ng-repeat="content in data.fulfillmentRules.content">
				<td><b>Name: </b>{{content.name}}</td>
				<td><b>Type: </b>{{content.type}}</td>
				<td><b>Required: </b>{{content.required}}</td>
			</tr>
		
		</table>
	</div>
	<!--<div>-->
	<!--<h4 ng-if="data.fulfillmentRules.content.length!==0">Content:</h4>-->
	<!--<div class="viewProductThreeColumns" ng-repeat="content in data.fulfillmentRules.content">-->
	<!--<span><b>Name:</b> {{content.name}}</span>-->
	<!--<span><b>Type:</b> {{content.type}}</span>-->
	<!--<span><b>Required:</b> {{content.required}}</span>-->
	<!--</div>-->
	<!--</div>-->
	
	<br>
	<svg height="2" width="100%">
		<line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgb(220,220,220);stroke-width:2"/>
	</svg>

</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
