<accordion-heading>{{translation.mpFields.attributes[LANG]}}</accordion-heading>

<table width="100%" cellspacing="0" cellpadding="0" border="0">

	<tr class="form-group tr-category-wrapper">
		<td>
			<div id="category-wrapper">
				<label>{{translation.mpFields.category[LANG]}}</label>
				<!--<input type="text" ng-model="formData.attributes.category[0].value" ng-required=true id="categories">-->
				<select name="category" ng-model="formData.attributes.category[0].value" ng-required=true id="category" class="form-control" ng-change="renderCategoriesAttributes()">
					<option ng-repeat="oneCat in response.profile.categories" value="{{oneCat.v}}">
						{{oneCat.l}}
					</option>
				</select>
			</div>
		</td>
	</tr>

	<tr style="display: none;" class="form-group tr-brand-wrapper">
		<td>
			<div id="brand-wrapper">
				<label>{{translation.mpFields.brand[LANG]}}</label>
				<input type="text" ng-required=false ng-model="tempo.brand" name="brand" id="brand" class="form-control">
			</div>
		</td>
	</tr>

	<tr style="display: none;" class="form-group tr-classification-wrapper">
		<td>
			<div id="classification-wrapper">
				<label>{{translation.mpFields.classification[LANG]}}</label>
				<input type="text" ng-required=false ng-model="tempo.classification" id="classification" class="form-control">
			</div>
		</td>
	</tr>

	<tr style="display: none" class="form-group tr-variations-wrapper">
		<td>
			<br>
			<div id="variations-wrapper">
				<fieldset class="variations">
					<legend>{{translation.mpFields.variations[LANG]}}</legend>

					<div class="variation">
						<div id="variation">
							<table width="100%" cellspacing="0" cellpadding="0" border="0">
								<tbody>
									<tr class="form-group tr-type-wrapper" ng-repeat="var in tempo.variation">
										<td>
											<div id="type-wrapper">
												<label>{{translation.type[LANG]}}</label>
												<select name="type{{$index}}" ng-model="var.type" ng-required="false" id="type{{$index}}" ng-change="changeVariationValue(var.type, $index)" class="form-control">
													<option ng-repeat="oneType in formData.myFilters" ng-disabled="checkDisabled(disabledSelector, oneType.v)" ng-init="initDisabled(disabledSelector, var.type)" value="{{oneType.v}}" ng-selected="oneType.v===var.type">
														{{oneType.l}}
													</option>
												</select>

												<div class="fieldMsg hint"></div>
											</div>
										</td>
										<td>
											<div id="value-wrapper">
												<label>{{translation.value[LANG]}}</label>
												<select name="value{{$index}}" ng-model="var.value" ng-required="false" id="value{{$index}}" class="form-control">
													<option ng-repeat="oneValue in variationsValues[var.type]" value="{{oneValue}}" ng-selected="oneValue===var.value">
														{{(response.profile.static_taxonomies[oneValue].label[LANG].value)?response.profile.static_taxonomies[oneValue].label[LANG].value:oneValue}}
													</option>
												</select>

												<div class="fieldMsg hint"></div>
											</div>
										</td>
										<td>
											<br/><br/>
											<a href="" ng-click="removeAvariation($index);" class="rightIcon">
												<span class='red'><span class='icon icon-cross' title='{{translation.removeVariation[LANG]}}'></span></span>
											</a>
										</td>
									</tr>
								</tbody>
							</table>

							<div ng-if="tempo.variation.length < formData.myFilters.length">
								<input type="button" value="{{translation.addVariation[LANG]}}" ng-click="addNewVariation()" class="btn btn-success btn-sm f-right"/>
							</div>
						</div>
					</div>

				</fieldset>
			</div>
		</td>
	</tr>

	<tr class="form-group tr-language-wrapper">

	</tr>

	<tr style="display: none;" class="form-group tr-review-wrapper">
		<td>
			<br>
			<div id="review-wrapper">
				<fieldset class="review">
					<legend>{{translation.mpFields.review[LANG]}}</legend>
					<div id="review">

						<table width="100%" cellspacing="0" cellpadding="0" border="0">
							<tbody>
								<tr class="form-group tr-average-wrapper">
									<td>
										<div id="average-wrapper">
											<label>{{translation.mpFields.average[LANG]}}</label>
											<input type="number" ng-required=true ng-model="formData.attributes.review.average" name="average" id="average" class="form-control">
										</div>
									</td>
								</tr>
								<tr class="form-group tr-count-wrapper">

									<td>
										<div id="count-wrapper">
											<label>{{translation.mpFields.count[LANG]}}</label>
											<input type="number" ng-required=true ng-model="formData.attributes.review.count" name="count" id="count" class="form-control">
										</div>
									</td>
								</tr>
							</tbody>
						</table>

					</div>
				</fieldset>
			</div>
		</td>
	</tr>

</table>