<accordion-heading>Legal Content</accordion-heading>

<table width="100%" cellspacing="0" cellpadding="0" border="0">
	
	<tr class="form-group tr-legal-content-wrapper">
		<td>
			<label>{{translation.mpFields.legalContent[LANG]}}</label>
			<div class="subContents">
				<div ng-repeat="one in response.profile.languages">
					<label>{{one.label}}</label>
					<div>
						<div text-angular ng-model="formData.legal.content[one.id]"></div>
					</div>
				</div>
			</div>
		</td>
	</tr>
	
	<tr class="form-group tr-termsConditionsLink-wrapper">
		<td>
			<label>Terms and conditions links</label>
			<div class="subContents">
				<div ng-repeat="one in response.profile.languages">
					<label>{{one.label}}</label>
					<div>
						<input type="url" ng-required=false ng-model="formData.legal.termsConditionsLink[one.id]" class="form-control">
					</div>
				</div>
			</div>
		</td>
	</tr>
	
</table>