.sectionIntervals tr[class^="form-group tr-service"],
.sectionIntervals tr[class^="form-group tr-start"],
.sectionIntervals tr[class^="form-group tr-end"]{
    float:left;
    width:30%;
    margin:0 1%;
    height:74px;
}

.sectionIntervals tr[class^="form-group tr-removeDelivery"]{
    float:left;
    width:4%;
    height:74px;
}

.sectionIntervals tr[class^="form-group tr-removeDelivery"] td{
    margin-top:22px;
}

.sectionIntervals tr td{
    width:100%;
    display:block;
}

.intervals tr[class^="form-group tr-startRange"],
.intervals tr[class^="form-group tr-endRange"]{
    float:left;
    width:48%;
    margin:0 1%;
}

.intervals tr[class^="form-group tr-startRange"] td,
.intervals tr[class^="form-group tr-endRange"] td{
    display:block;
    width:100%
}
.red{
    border-color: #ebccd1;
    color: #a94442;
    cursor:pointer;
}