.sc-items {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.cartLabel {
    font-weight: bold;
    width: 120px;
}

.sc-items li {
    margin-bottom: 10px;
    width: 100%;
}

.item-even {
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    background-color: #dedede;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cartImageSmall {
    max-height: 130px;
    max-width: 130px;
}

table td {
    vertical-align: top;
}

#cartItems .heading {
    font-weight: bold;
    line-height: 40px;
}

#cartItems .title {
    text-transform: capitalize;
}

#cartItems .info {
    width: 70%;
    margin: 0;
    float: left;
}

#cartItems .image {
    width: 30%;
    margin: 0;
    float: right;
}

.bundleProducts{
    margin-left: 20px;

    background-color: #bebebe;
}

.bundleProducts .item-odd
{
    background-color: #e3ebf9;
    margin-bottom: 12px;
    padding-bottom: 5px;
    border-bottom: dashed 1px black;
}
.bundleProducts .item-even
{
    background-color: #dff9f4;
    margin-bottom: 12px;
    padding-bottom: 5px;
    border-bottom: dashed 1px black;
}
.fulfillmentRules .config-even, .productConfiguration .config-even {
    background-color: #fff;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
}

.fulfillmentRules .config-odd, .productConfiguration .config-odd {
    background-color: #eee;
}

.oneItem {
    padding: 5px;
}