<div class="modal-header">
	<a class="pull-right" ng-click="closeModal()" href="">
		<span class="icon icon-cross" tooltip="Close"></span>
	</a>
	
	<h3 class="modal-title">{{title}}</h3>
</div>

<div class="modal-body">
	<div class="form">
		<alert type="danger" ng-if="message.danger">
			{{message.text}}
		</alert>
		<form name="saleDiscountModal" id="saleDiscountModal" novalidate ng-submit="saleDiscountModal.$valid && onSubmit()">
			
			<div class="form-group">
				<table width="100%">
					<tr>
						<td>
							<div class="ng-scope">
								<label class="ng-binding ng-scope">Type</label>
								<select ng-disabled="isEdit" type="text" class="form-control" ng-model="discount.type" ng-change="changeType()">
									<option value="reducedPrice">Reduced Price</option>
									<option value="volumeDiscount">Volume Discount</option>
								</select>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="4">
							<div class="ng-scope">
								<label class="ng-binding ng-scope">Description</label>
								<input type="text" class="form-control" ng-model="discount.description"/>
							</div>
						</td>
					</tr>
					
					<tr>
						<td colspan="4">
							<div class="ng-scope" ng-if="discount.type === 'volumeDiscount'">
								<label class="ng-binding ng-scope">Number</label>
								<input type="number" class="form-control" ng-model="discount.config.number"/>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div id="startDate-wrapper" class="ng-scope">
								<label class="ng-binding ng-scope">{{translation.saleStartDate[LANG]}}</label>
								<div class="dropdown">
									<a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#">
										<div class="input-group date">
											<input type="text" class="form-control" data-ng-model="discount.startDate">
											<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
										</div>
									</a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
										<datetimepicker data-ng-model="discount.startDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown1',renderOn:'RenderStartDate', minuteStep: 15}" data-before-render="beforeRenderStartDate($view, $dates, $leftDate, $upDate, $rightDate)"/>
									</ul>
								</div>
							</div>
						</td>
						<td width="9%">
						
						</td>
						<td>
							<div>
								<div id="endDate-wrapper" class="ng-scope">
									<label class="ng-binding ng-scope">{{translation.saleEndDate[LANG]}}</label>
									<div class="dropdown">
										<a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#">
											<div class="input-group date">
												<input type="text" class="form-control" data-ng-model="discount.endDate">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
										</a>
										<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
											<datetimepicker data-ng-model="discount.endDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2',renderOn:'RenderEndDate', minuteStep: 15}" data-before-render="beforeRenderEndDate($view, $dates, $leftDate, $upDate, $rightDate)"/>
										</ul>
									</div>
								</div>
							</div>
						</td>
						</td>
					
					</tr>
					
					<tr>
						<td>
							<div id="value-wrapper" class="ng-scope">
								<label class="ng-binding ng-scope">Value</label>
								<input type="number" ng-model="discount.discount.value" class="form-control" ng-required="true"/>
							</div>
						</td>
						<td></td>
						<td>
							<div id="type-wrapper" class="ng-scope">
								<label class="ng-binding ng-scope">Type</label>
								<select ng-model="discount.discount.type" class="form-control" ng-required="true">
									<option value="flat">Flat</option>
									<option value="percentage">Percentage</option>
								</select>
							</div>
						</td>
						<td></td>
					</tr>
					
					<tr>
						<td colspan="4">
							<div class="tr-scrolls-wrapper">
								<label>Serial(s)</label>
								<div class="serialSearch">
									<!--<div class="segmentation-search">-->
									<!--<span class="icon icon-search"></span>-->
									<!--<input class="form-control" ng-model="serialsSearchKeyword">-->
									<!--</div>-->
									
									<div class="scrollable">
										<ul class="blueListing">
											<li ng-class-even="'evenSerial'" class="blueLi row-list" ng-repeat="product in tempo.availableProducts| filter: serialsSearchKeyword">
												<input id="product{{$index}}" type="checkbox" ng-model="product.isSelected">
												<label title="{{product.title}}" for="product{{$index}}" class="repoFullName">
													<span>{{product.fullName}}</span>
												</label>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</table>
			</div>
			
			
			<label>{{translation.categories[LANG]}}&nbsp;&nbsp;</label>
			<img ng-src="{{ModuleQaMpLocation}}/directives/loading.gif" ng-show="loading" height="18px" width="18px">
			
			<br>
			<div style="display: none">
				<input name="selectAllCategories" ng-model="selectAllCategories" ng-click="selectAllTrigger()" type="checkbox" value="false">
				<span>{{translation.selectAll[LANG]}}</span>
			</div>
			<div class="categoriesList" ng-class="{ 'ng-valid' : postData.config.categories.length>0 }">
				<div ng-repeat="cat in categoriesList" style="border-bottom:solid 1px #ccc; margin-bottom:5px; padding-bottom:2px;">
					<div ng-style="{'padding-left': {{cat.level * 15}}}">
						<input name="categoriesSelected" ng-model="profileSelectedCategories[cat.v]" ng-click="assembleCategories(cat.v)" type="checkbox" ng-hide="selectAllCategories" ng-checked="profileSelectedCategories[cat.v] && profileSelectedCategories[cat.v]===true" value="true">
						<span>{{cat.l}}</span>
					</div>
				</div>
			</div>
			<br/>
			
			<input type="submit" class="btn btn-primary pull-right" value="{{translation.submit[LANG]}}"/><br/><br/>
		</form>
	</div>
</div>
