<div class="modal-header">
	<h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
	<h4>{{translation.mpFields.coreData[LANG]}}:</h4>
	<table width="100%">
		<tr class="ng-scope">
			<td valign="top" width="17%"><b>{{translation.mpFields.serial[LANG]}}:</b></td>
			<td width="35%">{{data.serial}}</td>
			<td valign="top" width="17%"><b>{{translation.mpFields.groupId[LANG]}}:</b></td>
			<td>{{data.coreData.groupId}}</td>
		</tr>
		
		<tr class="ng-scope">
			<td valign="top" width="17%"><b>{{translation.mpFields.productType[LANG]}}:</b></td>
			<td>{{data.coreData.productType}}</td>
			<td valign="top"><b>{{translation.mpFields.condition[LANG]}}:</b></td>
			<td>{{data.coreData.condition}}</td>
		</tr>
		
		<tr class="ng-scope">
			<td><b>Last Saved</b></td>
			<td>{{data.ts|prettyLocalDate}}</td>
			<td ng-if="data.coreData.groupDefault" valign="top"><b>{{translation.mpFields.groupDefault[LANG]}}:</b></td>
			<td ng-if="data.coreData.groupDefault">{{data.coreData.groupDefault}}</td>
		</tr>
		
		<tr class="ng-scope">
			<td ng-if="data.coreData.upi.gtin" valign="top"><b>{{translation.mpFields.gtin[LANG]}}:</b></td>
			<td ng-if="data.coreData.upi.gtin">{{data.coreData.upi.gtin}}</td>
			<td ng-if="data.coreData.upi.upc" valign="top"><b>{{translation.mpFields.upc[LANG]}}:</b></td>
			<td ng-if="data.coreData.upi.upc">{{data.coreData.upi.upc}}</td>
		</tr>
		
		<tr class="ng-scope">
			<td ng-if="data.coreData.upi.sku" valign="top"><b>SKU:</b></td>
			<td ng-if="data.coreData.upi.sku">{{data.coreData.upi.sku}}</td>
		</tr>
		
		<tr class="ng-scope">
			<td ng-if="data.coreData.udac" valign="top"><b>{{translation.mpFields.udac[LANG]}}:</b></td>
			<td ng-if="data.coreData.udac">{{data.coreData.udac}}</td>
			<td valign="top"><b>{{translation.mpFields.status[LANG]}}:</b></td>
			<td>{{data.status}}</td>
		</tr>


		<tr class="ng-scope">
			<td class="multipleQuantity" valign="top"><b>Multiple Quantity:</b></td>
			<td>{{data.coreData.multipleQuantity}}</td>
			<td class="newProduct" valign="top"><b>New Product:</b></td>
			<td>{{data.coreData.newProduct}}</td>

		</tr>

		<tr class="ng-scope">
			<td ng-if="data.coreData.isAddOn" valign="top"><b>{{translation.mpFields.isAddOn[LANG]}}:</b></td>
			<td ng-if="data.coreData.isAddOn">{{data.coreData.isAddOn}}</td>
			<td ng-if="data.coreData.allowAddOn" valign="top"><b>{{translation.mpFields.allowAddOn[LANG]}}:</b></td>
			<td ng-if="data.coreData.allowAddOn">{{data.coreData.allowAddOn}}</td>
		</tr>
		
		<tr class="ng-scope">
			<td ng-if="data.coreData.allowReservation" valign="top">
				<b>{{translation.mpFields.allowReservation[LANG]}}:</b></td>
			<td ng-if="data.coreData.allowReservation">{{data.coreData.allowReservation}}</td>
			<td ng-if="data.coreData.allowWaitingList" valign="top">
				<b>{{translation.mpFields.allowWaitingList[LANG]}}:</b></td>
			<td ng-if="data.coreData.allowWaitingList">{{data.coreData.allowWaitingList}}</td>
		</tr>
		
		<tr class="ng-scope">
			<td ng-if="data.coreData.renewal" valign="top"><b>{{translation.mpFields.renewal[LANG]}}:</b></td>
			<td ng-if="data.coreData.renewal">{{data.coreData.renewal}}</td>
			<td ng-if="data.coreData.autoRenewal" valign="top"><b>{{translation.mpFields.autoRenewal[LANG]}}:</b></td>
			<td ng-if="data.coreData.autoRenewal">{{data.coreData.autoRenewal}}</td>
		</tr>
		
		<tr class="ng-scope">
			<td ng-if="data.coreData.grandfathered" valign="top"><b>{{translation.mpFields.grandfathered[LANG]}}:</b></td>
			<td ng-if="data.coreData.grandfathered">{{data.coreData.grandfathered}}</td>
			<td ng-if="data.coreData.inventory" valign="top"><b>{{translation.mpFields.inventory[LANG]}}:</b></td>
			<td ng-if="data.coreData.inventory">{{data.coreData.inventory}}</td>
		</tr>
		
		<tr class="ng-scope">
			<td valign="top"><b>{{translation.mpFields.cancellationPolicy[LANG]}}:</b></td>
		</tr>
		
		<tr class="ng-scope" ng-repeat="lang in languages">
			<td valign="top">{{lang.label}}</td>
			<td colspan="3">{{data.coreData.cancellationPolicy.description[lang.id]}}</td>
		</tr>
		
		<tr class="ng-scope">
			<td valign="top">
				<b>{{translation.mpFields.legalContent[LANG]}}:</b></td>
		</tr>
		
		<tr class="ng-scope" ng-repeat="lang in languages">
			<td valign="top">{{lang.label}}</td>
			<td colspan="3">{{data.legal.content[lang.id]}}</td>
		</tr>
	
	</table>
	<br>
	
	<svg height="2" width="100%">
		<line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgb(220,220,220);stroke-width:2" />
	</svg>
	
	<h4>{{translation.mpFields.segmentation[LANG]}}:</h4>
	<table width="100%" class="segmentation-viewp-wrapper">
		<tr ng-if="data.segmentation.salesChannels.length>0" class="ng-scope">
			<td valign="top"><b>{{translation.mpFields.salesChannels[LANG]}}:</b>
				<ul>
					<li ng-repeat="sc in data.segmentation.salesChannels">
						{{sc}}
					</li>
				</ul>
			</td>
		</tr>
		<tr ng-if="data.segmentation.accountType.length>0" class="ng-scope">
			<td valign="top"><b>{{translation.mpFields.accountType[LANG]}}:</b>
				<ul>
					<li ng-repeat="at in data.segmentation.accountType">
						{{at}}
					</li>
				</ul>
			</td>
		</tr>
		<tr ng-if="data.segmentation.serviceArea.included.length>0 || data.segmentation.serviceArea.excluded.length>0" class="ng-scope">
			<td valign="top">
				<div ng-if="data.segmentation.serviceArea.included.length !==0">
					<label>{{translation.mpFields.serviceArea[LANG]}} - {{translation.mpFields.include[LANG]}}:</label>
					
					<ul>
						<li ng-repeat="sa in data.segmentation.serviceArea.included">
							{{sa.value}}
						</li>
					</ul>
				</div>
				<div class="ng-scope" ng-if="data.segmentation.serviceArea.excluded.length !==0">
					<label>{{translation.mpFields.serviceArea[LANG]}} - {{translation.mpFields.exclude[LANG]}}:</label>
					<ul>
						<li ng-repeat="sa in data.segmentation.serviceArea.excluded">
							{{sa.value}}
						</li>
					</ul>
				</div>
			</td>
		</tr>
		
		<tr ng-if="data.segmentation.verticals.included.length>0 || data.segmentation.verticals.excluded.length>0" class="ng-scope">
			<td valign="top">
				<div ng-if="data.segmentation.verticals.included && data.segmentation.verticals.included.length !==0">
					<label>{{translation.mpFields.verticals[LANG]}} - {{translation.mpFields.include[LANG]}}:</label>
					<ul>
						<li ng-repeat="sa in data.segmentation.verticals.included">
							{{sa.value}}
						</li>
					</ul>
				</div>
				<div class="ng-scope" ng-if="data.segmentation.verticals.excluded && data.segmentation.verticals.excluded.length !==0">
					<label>{{translation.mpFields.verticals[LANG]}} - {{translation.mpFields.exclude[LANG]}}:</label>
					<ul>
						<li ng-repeat="sa in data.segmentation.verticals.excluded">
							{{sa.value}}
						</li>
					</ul>
				</div>
			</td>
		</tr>
		
		<tr ng-if="data.segmentation.headings.included.length>0 || data.segmentation.headings.excluded.length>0" class="ng-scope">
			<td valign="top">
				<div ng-if="data.segmentation.headings.included && data.segmentation.headings.included.length !==0">
					<label>{{translation.mpFields.headings[LANG]}} - {{translation.mpFields.include[LANG]}}:</label>
					<ul>
						<li ng-repeat="sa in data.segmentation.headings.included">
							{{sa.value}}
						</li>
					</ul>
				</div>
				<div class="ng-scope" ng-if="data.segmentation.headings.excluded && data.segmentation.headings.excluded.length !==0">
					<label>{{translation.mpFields.headings[LANG]}} - {{translation.mpFields.exclude[LANG]}}:</label>
					<ul>
						<li ng-repeat="sa in data.segmentation.headings.excluded">
							{{sa.value}}
						</li>
					</ul>
				</div>
			</td>
		</tr>
		
		<tr ng-if="data.segmentation.sensitiveHeadings.included.length>0 || data.segmentation.sensitiveHeadings.excluded.length>0" class="ng-scope">
			<td valign="top">
				<div ng-if="data.segmentation.sensitiveHeadings.included && data.segmentation.sensitiveHeadings.included.length !==0">
					<label>{{translation.mpFields.sensitiveHeadings[LANG]}} -
						{{translation.mpFields.include[LANG]}}:</label>
					<ul>
						<li ng-repeat="sa in data.segmentation.sensitiveHeadings.included">
							{{sa.value}}
						</li>
					</ul>
				</div>
				<div class="ng-scope" ng-if="data.segmentation.sensitiveHeadings.excluded && data.segmentation.sensitiveHeadings.excluded.length !==0">
					<label>{{translation.mpFields.sensitiveHeadings[LANG]}} -
						{{translation.mpFields.exclude[LANG]}}:</label>
					<ul>
						<li ng-repeat="sa in data.segmentation.sensitiveHeadings.excluded">
							{{sa.value}}
						</li>
					</ul>
				</div>
			</td>
		</tr>
	
	</table>
	<br>
	
	<svg height="2" width="100%">
		<line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgb(220,220,220);stroke-width:2" />
	</svg>
	
	<h4>{{translation.mpFields.rules[LANG]}}:</h4>
	
	<table width="100%" class="ng-scope closeLabels">
		<tr ng-if="data.rules.incompatibility.uniqueMarketHeadingMid">
			<td valign="top">{{translation.mpFields.uniqueMarketHeadingMid[LANG]}}:</td>
			<td>{{data.rules.incompatibility.uniqueMarketHeadingMid}}</td>
		</tr>
		<tr ng-if="data.rules.incompatibility.uniqueMid">
			<td valign="top">{{translation.mpFields.uniqueMid[LANG]}}:</td>
			<td>{{data.rules.incompatibility.uniqueMid}}</td>
		</tr>
	</table>
	
	<table width="100%">
		
		<tr ng-if="data.rules.prerequisiteProduct.length>0" class="ng-scope">
			<td valign="top"><b>{{translation.mpFields.prerequisiteProduct[LANG]}}:</b></td>
		</tr>
		
		<tr class="ng-scope" ng-repeat="pp in data.rules.prerequisiteProduct">
			<td valign="top" width="35%"><b>{{translation.mpFields.serial[LANG]}}:</b></td>
			<td>{{pp.serial}}</td>
			<td valign="top" width="35%"><b>{{translation.mpFields.udac[LANG]}}:</b></td>
			<td>{{pp.udac}}</td>
		</tr>
		
		<tr ng-if="data.rules.incompatibility.products.length>0" class="ng-scope">
			<td valign="top" colspan="4"><b>{{translation.mpFields.incompatibility[LANG]}}:</b></td>
		</tr>
		
		<tr class="ng-scope" ng-repeat="pp in data.rules.incompatibility.products">
			<td valign="top"><b>{{translation.mpFields.serial[LANG]}}:</b></td>
			<td>{{pp.serial}}</td>
			<td valign="top"><b>{{translation.mpFields.udac[LANG]}}:</b></td>
			<td>{{pp.udac}}</td>
		</tr>
	
	</table>
	<br>
	
	<svg height="2" width="100%">
		<line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgb(220,220,220);stroke-width:2" />
	</svg>
	
	<h4>{{translation.mpFields.productConfiguration[LANG]}}:</h4>
	<div class="viewProductThreeColumns" ng-repeat="config in data.productConfiguration">
		<span><b>Name:</b> {{config.name}}</span>
		<span><b>Required:</b> {{config.required}}</span>
		<span><b>Type:</b> {{config.type}}</span>
	</div>
	<br>
	
	<svg height="2" width="100%">
		<line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgb(220,220,220);stroke-width:2" />
	</svg>
	
	<h4>{{translation.mpFields.attributes[LANG]}}:</h4>
	<table width="100%">
		
		<tr class="ng-scope">
			<td valign="top" width="25%"><b>{{translation.mpFields.category[LANG]}}:</b></td>
			<td width="25%">{{data.attributes.category[0].value}}</td>
			<!--<td ng-if="data.attributes.category[0].value" width="25%" valign="top"><b>{{translation.mpFields.brand[LANG]}}:</b>-->
			<!--</td>-->
			<!--<td ng-if="data.attributes.category[0].value" width="25%">{{data.attributes.category[0].value}}</td>-->
		</tr>
		
		<!--<tr class="ng-scope">-->
			<!--<td ng-if="data.attributes.classification[0].value" valign="top"><b>{{translation.mpFields.classification[LANG]}}:</b>-->
			<!--</td>-->
			<!--<td ng-if="data.attributes.classification[0].value">{{data.attributes.classification[0].value}}</td>-->
			<!---->
			<!--<td ng-if="data.attributes.language.length>0" valign="top"><b>{{translation.mpFields.language[LANG]}}:</b>-->
			<!--</td>-->
			<!--<td>-->
				<!--<div style="display:inline" ng-repeat="lang in data.attributes.language">-->
					<!--{{lang}}-->
					<!--<span ng-if="$index!==(data.attributes.language.length-1)">,</span>-->
				<!--</div>-->
			<!--</td>-->
		<!--</tr>-->
	</table>
	<!--<table width="100%">-->
		<!--<tr>-->
			<!--<td>-->
				<!--<b>Review</b>-->
				<!--<div style="padding-left: 15px">-->
					<!--<span valign="top"><b>{{translation.mpFields.average[LANG]}}:</b></span>-->
					<!--<span>{{data.attributes.review.average}}</span>-->
					<!--<span> &nbsp; &nbsp; </span>-->
					<!--<span valign="top"><b>{{translation.mpFields.count[LANG]}}:</b></span>-->
					<!--<span>{{data.attributes.review.count}}</span>-->
				<!--</div>-->
			<!--</td>-->
		<!--</tr>-->
		<!---->
		<!--<tr ng-if="data.attributes.variations.length>0" class="ng-scope">-->
			<!--<td valign="top">-->
				<!--<label>{{translation.mpFields.variations[LANG]}}:</label>-->
				<!---->
				<!--<div style="padding-left: 15px" class="ng-scope" ng-repeat="(key,val) in data.attributes.variations">-->
					<!--<b>{{key}}:</b>-->
					<!---->
					<!--<div style="display:inline" ng-repeat="each in val">-->
						<!--{{each.value}}-->
						<!--<span ng-if="$index!==(val.length-1)">, </span>-->
					<!--</div>-->
				<!--</div>-->
			<!--</td>-->
		<!--</tr>-->
	<!---->
	<!--</table>-->
	<br>
	
	<svg height="2" width="100%">
		<line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgb(220,220,220);stroke-width:2" />
	</svg>
	
	<h4>{{translation.mpFields.productData[LANG]}}:</h4>
	
	<tabset>
		<tab ng-repeat="oneLang in languages" heading="{{oneLang.label}}">
			<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tr>
					<td valign="top" width="20%"><b>{{translation.title[LANG]}}</b></td>
					<td width="80%">{{data.productData.title[oneLang.id]}}</td>
				</tr>
				
				<tr>
					<td ng-if="data.productData.shortDescription[oneLang.id]" valign="top" width="20%"><b>{{translation.shortDescription[LANG]}}</b>
					</td>
					<td ng-if="data.productData.shortDescription[oneLang.id]" width="80%" ng-bind-html="data.productData.shortDescription[oneLang.id]|toTrustedHtml"></td>
				</tr>
				
				<tr>
					<td ng-if="data.productData.longDescription[oneLang.id]" valign="top" width="20%"><b>{{translation.fullDescription[LANG]}}</b>
					</td>
					<td ng-if="data.productData.longDescription[oneLang.id]" width="80%" ng-bind-html="data.productData.longDescription[oneLang.id]|toTrustedHtml"></td>
				</tr>
				
				<tr ng-if="data.productData.media.images[oneLang.id].length>0">
					<td><b>{{translation.image[LANG]}}</b></td>
				</tr>
				
				<tr class="ng-scope" ng-repeat="oneImg in data.productData.media.images[oneLang.id]">
					<td valign="top">
						<img draggable=false ng-src="{{oneImg.url}}" width="20%"/>
					</td>
					<td>{{oneImg.url}}</td>
				</tr>
				
				<tr ng-if="data.productData.media.videos[oneLang.id].length>0">
					<td><b>{{translation.video[LANG]}}</b></td>
				</tr>
				
				<tr class="ng-scope" ng-repeat="oneVid in data.productData.media.videos[oneLang.id]">
					<td valign="top"></td>
					<td>{{oneVid.url}}</td>
				</tr>
				
				<tr ng-if="data.productData.media.resources[oneLang.id].length>0">
					<td><b>{{translation.mpFields.resources[LANG]}}</b></td>
				</tr>
				
				<tr class="ng-scope" ng-repeat="res in data.productData.media.resources[oneLang.id]">
					<td valign="top"></td>
					<td>{{res.url}}</td>
				</tr>
			
			</table>
		</tab>
	</tabset>
	
	<br>
	
	<svg ng-if="data.coreData.productType==='physicalGoods'" height="2" width="100%">
		<line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgb(220,220,220);stroke-width:2" />
	</svg>
	
	<h4 ng-if="data.coreData.productType==='physicalGoods'"> {{translation.mpFields.shippingData[LANG]}}:</h4>
	<table ng-if="data.coreData.productType==='physicalGoods'" width="100%">
		
		<tr class="ng-scope">
			<td valign="top"><b>{{translation.length[LANG]}}:</b></td>
			<td>{{data.shippingData.dimensions[0].length}}</td>
			<td valign="top"><b>{{translation.unit[LANG]}}:</b></td>
			<td>{{data.shippingData.dimensions[0].unit}}</td>
		</tr>
		
		<tr class="ng-scope">
			<td valign="top"><b>{{translation.width[LANG]}}:</b></td>
			<td>{{data.shippingData.dimensions[0].width}}</td>
			<td valign="top"><b>{{translation.unit[LANG]}}:</b></td>
			<td>{{data.shippingData.dimensions[0].unit}}</td>
		</tr>
		
		<tr class="ng-scope">
			<td valign="top"><b>{{translation.height[LANG]}}:</b></td>
			<td>{{data.shippingData.dimensions[0].height}}</td>
			<td valign="top"><b>{{translation.unit[LANG]}}:</b></td>
			<td>{{data.shippingData.dimensions[0].unit}}</td>
		</tr>
		
		
		<tr class="ng-scope">
			<td valign="top"><b>{{translation.weight[LANG]}}:</b></td>
			<td>{{data.shippingData.weight[0].value}}</td>
			<td valign="top"><b>{{translation.unit[LANG]}}:</b></td>
			<td>{{data.shippingData.weight[0].unit}}</td>
		</tr>
	
	</table>
	<br>
	
	<svg height="2" width="100%">
		<line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgb(220,220,220);stroke-width:2" />
	</svg>
	
	<h4>Pricing Rules:</h4>
	<table width="100%">
		
		<tr class="ng-scope">
			<td valign="top"><b>{{translation.mpFields.productValue[LANG]}}:</b></td>
			<td>{{data.merchantMeta.pricing.productValue}}</td>
			<td valign="top"><b>{{translation.mpFields.price[LANG]}}:</b></td>
			<td>{{data.merchantMeta.pricing.price}}</td>
		</tr>
		
		<!--<tr class="ng-scope">-->
			<!--<td ng-if="data.merchantMeta.pricing.repCommission.value" valign="top"><b>{{translation.mpFields.commissionValue[LANG]}}:</b></td>-->
			<!--<td ng-if="data.merchantMeta.pricing.repCommission.value">{{data.merchantMeta.pricing.repCommission.value}}</td>-->
			<!--<td ng-if="data.merchantMeta.pricing.repCommission.category" valign="top"><b>{{translation.mpFields.category[LANG]}}:</b></td>-->
			<!--<td ng-if="data.merchantMeta.pricing.repCommission.category">{{data.merchantMeta.pricing.repCommission.category}}</td>-->
		<!--</tr>-->
		
		<tr class="ng-scope">
			<td ng-if="data.merchantMeta.pricing.maxDiscountLevel" valign="top"><b>{{translation.mpFields.maxDiscountLevel[LANG]}}:</b>
			</td>
			<td ng-if="data.merchantMeta.pricing.maxDiscountLevel">{{data.merchantMeta.pricing.maxDiscountLevel}}</td>
		</tr>
	
	</table>
	<br>
	
	<svg height="2" width="100%">
		<line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgb(220,220,220);stroke-width:2" />
	</svg>
	
	<h4>Rules (Name, value, quantity, frequency, unit)</h4>
	
	<div class="ng-scope" ng-repeat="rule in data.merchantMeta.pricing.rules">
		
		<div ng-if="rule.onetime">
			<label>Rule {{$index+1}}: {{translation.mpFields.onetime[LANG]}}</label>
			<table width="100%">
				<tr>
					<td width="20%"></td>
					<td width="20%"></td>
					<td width="60%"></td>
				</tr>
				<tr>
					<td>{{rule.onetime.name}}:</td>
					<td>{{rule.onetime.value}}</td>
				</tr>
			</table>
		</div>
		
		<div ng-if="rule.registration">
			<label>Rule {{$index+1}} : {{translation.mpFields.registration[LANG]}}</label>
			<table width="100%">
				<tr>
					<td width="20%"></td>
					<td width="20%"></td>
					<td width="20%"></td>
					<td width="40%"></td>
				</tr>
				
				<tr class="ng-scope" ng-repeat="reg in rule.registration">
					<td>{{reg.name}}</td>
					<td>{{reg.value}}</td>
					<td>{{reg.quantity}}</td>
				</tr>
			
			</table>
		</div>
		
		<div ng-if="rule.recurring">
			<label>Rule {{$index+1}} : {{translation.mpFields.recurring[LANG]}}</label>
			<table width="100%">
				<tr>
					<td width="20%"></td>
					<td width="20%"></td>
					<td width="20%"></td>
					<td width="20%"></td>
					<td width="20%"></td>
				</tr>
				
				<tr class="ng-scope" ng-repeat="rec in rule.recurring">
					<td>{{rec.name}}</td>
					<td>{{rec.value}}</td>
					<td>{{rec.quantity}}</td>
					<td>{{rec.frequency}}</td>
					<td>{{rec.unit}}</td>
				</tr>
			
			</table>
		</div>
	
	</div>
	
	<br>
	
	<svg height="2" width="100%">
		<line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgb(220,220,220);stroke-width:2" />
	</svg>
	
	<h4>{{translation.mpFields.fulfillmentRules[LANG]}}:</h4>
	<table width="100%">
		
		<tr class="ng-scope">
			<td ng-if="data.fulfillmentRules.sla.minDelay" valign="top"><b>{{translation.mpFields.sla[LANG]}} {{translation.mpFields.minDelay[LANG]}}:</b></td>
			<td ng-if="data.fulfillmentRules.sla.minDelay">{{data.fulfillmentRules.sla.minDelay}}</td>
			<td ng-if="data.fulfillmentRules.sla.maxDelay" valign="top"><b>{{translation.mpFields.maxDelay[LANG]}}:</b></td>
			<td ng-if="data.fulfillmentRules.sla.maxDelay">{{data.fulfillmentRules.sla.maxDelay}}</td>
		</tr>
		
		<tr class="ng-scope">
			<td ng-if="data.fulfillmentRules.renewalSla.minDelay" valign="top"><b>{{translation.mpFields.renewalSla[LANG]}} {{translation.mpFields.minDelay[LANG]}}:</b></td>
			<td ng-if="data.fulfillmentRules.renewalSla.minDelay">{{data.fulfillmentRules.renewalSla.minDelay}}</td>
			<td ng-if="data.fulfillmentRules.renewalSla.maxDelay" valign="top"><b>{{translation.mpFields.maxDelay[LANG]}}:</b></td>
			<td ng-if="data.fulfillmentRules.renewalSla.maxDelay">{{data.fulfillmentRules.renewalSla.maxDelay}}</td>
		</tr>
	
	</table>
	
	<h4 ng-if="data.fulfillmentRules.content.length!==0">Content:</h4>
	<div class="viewProductThreeColumns" ng-repeat="content in data.fulfillmentRules.content">
		<span><b>Name:</b> {{content.name}}</span>
		<span><b>Type:</b> {{content.type}}</span>
		<span><b>Required:</b> {{content.required}}</span>
	</div>
	
	<br>
	<svg height="2" width="100%">
		<line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgb(220,220,220);stroke-width:2" />
	</svg>

</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
